@model HangOut.Models.MyCustomer.Cashback
@{
    Layout = null;
}

<div class="card">
    <div class="card-header">
        <h3 style="text-align:center;color:#000000"><b>CashBack</b></h3>
        <hr />
    </div>
    <div class="card-body">
        @using (Ajax.BeginForm("PostCasbBack", "CashBack", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "waiting", OnSuccess = "OnSuccess" }))
        {
            @Html.HiddenFor(model => model.CashBkId)
            @Html.HiddenFor(model => model.OrgID)
            @Html.HiddenFor(model => model.CashBkStatus)
            @Html.HiddenFor(model => model.SeatingIds)
            @Html.HiddenFor(model => model.TerminateSts)
            @Html.HiddenFor(model => model.CBUniqId)
            List<SelectListItem> SL = new List<SelectListItem>() {
        new SelectListItem{Text="UN-SPECIFIED",Value="1"},new SelectListItem{Text="SPECIFIED",Value="2"}
        };
            List<SelectListItem> CashBkType = new List<SelectListItem>() {
        new SelectListItem{Text="Percentage",Value="1"}
        };


    <div class="row">
        <div class="col-md-2">
            @Html.Label("Start From")
            @Html.TextBoxFor(model => model.StartDate, "{0:dd-MM-yyyy}", new { @class = "form-control datefield" })
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2">
            @Html.Label("Valid Till")
            @Html.DropDownListFor(model => model.ValidTill, SL, new { @class = "form-control " })
            @Html.ValidationMessageFor(model => model.ValidTill, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2">
            @Html.Label("Date")
            @Html.TextBoxFor(model => model.ValidTillDate, "{0:dd-MM-yyyy}", new { @class = "form-control datefield" })
            @Html.ValidationMessageFor(model => model.ValidTillDate, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-3">
            @Html.Label("CashBackType")
            @Html.DropDownListFor(model => model.CashBkType, CashBkType, new { @class = "form-control " })
            @Html.ValidationMessageFor(model => model.CashBkType, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2">
            @Html.Label("Percentage")
            @Html.TextBoxFor(model => model.Percentage, new { @class = "form-control autodouble" })
            @Html.ValidationMessageFor(model => model.Percentage, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2">
            @Html.Label("Max CashBack Amt")
            @Html.TextBoxFor(model => model.MaxAmt, new { @class = "form-control autodouble" })
            @Html.ValidationMessageFor(model => model.MaxAmt, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2">
            @Html.Label("Min Bill Amt")
            @Html.TextBoxFor(model => model.BilAmt, new { @class = "form-control autodouble" })
            @Html.ValidationMessageFor(model => model.BilAmt, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-1">
            @Html.Label("Raise Dynamically")
            @Html.CheckBoxFor(model => model.RaiseDynamic, new { @class = "form-control autodouble" })
            @Html.ValidationMessageFor(model => model.RaiseDynamic, "", new { @class = "text-danger" })
        </div>

        <div class="col-sm-1" style="margin-top:5px;">
            @Html.Label("Save", new { @class = "text-white" })
            <input type="submit" value="Next" class="btn btn-success" />
        </div>
    </div>
}
    </div>
</div>
<script>
    CBValidTill();
    $("#ValidTill").change(function () {
        CBValidTill();
    });
    
    function CBValidTill() {
        var ValidTill = $("#ValidTill").val();
        if (ValidTill == "1") {
            $("#ValidTillDate").parent('div').hide();
        }
        else {
            $("#ValidTillDate").parent('div').show();
        }
    }
    
    
</script>
