@model HangOut.Models.OrdDiscntChrge
@{
    Layout = null;
    string TitleType = "";
    string TaxTitle = "";
    if (Model.Type==1)
    {
        TitleType = "Discount";
        TaxTitle = " % ";
    }
    else if (Model.Type == 2)
    {
        TitleType = "Charge";
        TaxTitle = "Tax %";
    }
}

<div class="card">
    <div class="card-header">
        <h4 style="text-align:center;color:#000000"><b>@TitleType</b></h4>
        <hr />
    </div>
    <div class="card-body">

        @using (Ajax.BeginForm("SaveDiscntCharge", "HG_Orders", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "", LoadingElementId = "waiting", OnSuccess = "OnSuccess" }))
        {
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.Type)
            @Html.HiddenFor(model => model.OID)
            @Html.HiddenFor(model=>model.SeatingId)
            @Html.HiddenFor(model=>model.SeatingOtp)
        <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-12">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label  " })
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control ", autocomplete = "off", required = "required" })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-5">
                @Html.Label("Rs")
                @Html.TextBoxFor(model => model.Amt, new { @class = "form-control autodouble" })
                @Html.ValidationMessageFor(model => model.Amt, "", new { @class = "text-danger" })
            </div>

            @if (Model.Type==2)
            {
                @Html.HiddenFor(model => model.Tax);
            }
            else
            {
                <div class="col-md-2">
                    <label style="text-align:center">OR</label>
                </div>
                <div class="col-md-5">
                    @Html.Label(TaxTitle)
                    @Html.TextBoxFor(model => model.Tax, new { @class = "form-control autodouble", })
                    @Html.ValidationMessageFor(model => model.Tax, "", new { @class = "text-danger" })
                </div>
            }

            <div class="col-md-12">
                @Html.Label("Remark")
                @Html.TextBoxFor(model => model.Remark, new { @class = "form-control ", required = "required" })
                @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                @Html.Label("", new { @class = "text-white" })
                <input type="button" onclick="hidedpt('DiscntCharge')" value="Cancel" class="btn btn-danger" />
            </div>
            <div class="col-md-3">
                @Html.Label("", new { @class = "text-white" })
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
        }
    </div>
</div>
<script>
    function JsonSuccess(Jobj) {
        console.log("ChargeDiscnt" + Jobj);
        var jsonObj = Jobj.data;
        var ID = jsonObj.ID;
        var Title = jsonObj.Title;
        var Amt = jsonObj.Amt;
        var Tax = jsonObj.Tax;
        if ($("#DiscntChargeTbody").length) {
            $("#DC" + ID).remove();
            var htmlstr = '<tr id="DC'+ID+'">';
            htmlstr += '<td>' + Title+'</td>';
            htmlstr += '<td>' + Amt + '</td>';
            htmlstr += '<td>' + Tax + '</td>';
            htmlstr += '<td> <button class="btn btn-danger btn-sm" onclick="AddChargeDiscnt(0,'+ID+',0)">Edit</button>';
            htmlstr += '</td></tr>';
            $("#DiscntChargeTbody").append(htmlstr);
        }
        $("#waiting").hide();
        hidedpt('DiscntCharge');

    }
        
</script>

