@model HangOut.Models.OrdDiscntChrge
@{
    Layout = null;
}

<div class="card">
    <div class="card-header">
        <h4 style="text-align:center;color:#000000"><b>ORGONIZATION</b></h4>
        <hr />
    </div>
    <div class="card-body">

        @using (Ajax.BeginForm("CreateEdit", "HG_OrganizationDetails", new { OrgID = Model.OrgID }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DynamicData", LoadingElementId = "waiting", OnSuccess = "OnSuccess" }))
        {
            
        <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="col-md-2">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label  " })
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                @Html.LabelFor(model => model.Tax, htmlAttributes: new { @class = "control-label  " })
                @Html.EditorFor(model => model.Tax, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.Tax, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                @Html.Label("Price")
                @Html.EditorFor(model => model.Amt, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.Amt, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                @Html.LabelFor(model => model.Tax, htmlAttributes: new { @class = "control-label  " })
                @Html.EditorFor(model => model.Tax, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.Tax, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-1">
                @Html.Label("Save", new { @class = "text-white" })
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
            <div class="col-md-1">
                @Html.Label("Save", new { @class = "text-white" })
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
        }
    </div>
</div>


