@using HangOut.Models
@{ Layout = null;
    Int64 OrderID = Int64.Parse(Request.QueryString["OID"]);
    List<OrdDiscntChrge> ListDicntCharge = new List<OrdDiscntChrge>();
    if (OrderID <= 0)
    {
        <h5 class='text-center text-danger'><b><u>No Order Yet</u></b></h5>
        return;
    }
    HG_Orders HG_Order = new HG_Orders().GetOne(OrderID);
    if (HG_Order.DisntChargeIDs != "")
    {
        ListDicntCharge = OrdDiscntChrge.GetAll(HG_Order.DisntChargeIDs);
    }
    var OrderItems = new HG_OrderItem().GetAll(OrderID);
   // OrderItems = OrderItems.FindAll(x => x.Status != 1 && x.Status != 2);// not placed and proceessing  items
    List<HG_Items> listItem = new HG_Items().GetAll();
    int SNo = 1;
    int Qty = 0;
    double Total = 0.00;
}
<div class="card">
    <div class="card-header">
        <h5 class="text-center text-danger"><b><u>Order No : @OrderID</u></b></h5>
    </div>
    <div class="card-body">
        <table class="table table-hover w-100 " id="TBLID1">
            <thead>
                <tr>
                    <th>
                        S.No
                    </th>
                    <th>
                        Item
                    </th>
                    <th>
                        Order Qty
                    </th>
                    <th>
                        QTY
                    </th>
                    <th>
                        Ticket No
                    </th>
                    <th>
                        Rate
                    </th>
                    <th>
                        Amount
                    </th>
                </tr>
            </thead>
            <tbody id="OrderItems">
                @foreach (var Order in OrderItems)
                {
                    double ItemPrice = 0.00;
                    int Cnt= 0;
                    if (Order.Status != 4)
                    {
                        ItemPrice = Order.Price * Order.Count;
                        Cnt = Order.Count;
                    }
                    <tr id="FID@(Order.FID)" class="item">
                        <td>
                            @SNo
                            @{
                                SNo++;
                                Qty += Cnt;
                                Total += ItemPrice;
                            }
                        </td>
                        <td>
                            @{HG_Items ObjOrder = listItem.Find(x => x.ItemID == Order.FID); }
                            @ObjOrder.Items
                        </td>
                        <td>
                            @Order.Count
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-md-4">

                                </div>
                                <div class="col-md-1">
                                    <span class="input-group-btn float-right">
                                        <button type="button" class="btn btn-danger btn-number" data-type="minus" OIID="@Order.OIID" onclick="MinusItemQty(this,1)">
                                            <span class="glyphicon glyphicon-minus"><i class="fa fa-minus"></i></span>
                                        </button>
                                    </span>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" class="QTY form-control input-number text-center " readonly value="@Cnt" id="@Order.OIID" min="0" step="5" size="10" />
                                </div>
                                <div class="col-md-1">
                                    <span class="input-group-btn float-left">
                                        <button type="button" class="btn btn-success btn-number" data-type="plus" OIID="@Order.OIID" onclick="PlusItemQty(this,1)">
                                            <span class="glyphicon glyphicon-plus"><i class="fa fa-plus"></i></span>
                                        </button>
                                    </span>
                                </div>
                                <div class="col-md-4">

                                </div>
                            </div>
                        </td>
                        <td>
                            @Order.TickedNo
                        </td>
                        <td>
                            <input type="number" onchange="PlusItemQty(this,2)" value="@Order.Price.ToString("0.00")" OIID="@Order.OIID" step="0.01" id="Rate@(Order.OIID)" />
                        </td>
                        <td class="ItemPrize" id="IntPrice@(Order.OIID)">
                            @ItemPrice.ToString("0.00")
                        </td>
                    </tr>
                }

            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td>
                        <button onclick="ShowItemsToOrder()" class="btn btn-primary">
                           <i class="fa fa-plus"></i>
                        </button>
                    </td>
                    <td>@Qty</td>
                    <td id="Quantity">@Qty</td>
                    <td></td>
                    <td></td>
                    <td id="TotalAmount">@Total.ToString("0.00")</td>
                </tr>

            </tfoot>
        </table>
        <div class="row" style="width:100%">
            <div class="col-md-12">
                <h5 class="text-center text-danger"><b><u>Charges And Discount</u></b></h5>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-2">
                <button type="button" onclick="AddChargeDiscnt(2,0,@HG_Order.OID)" class="btn btn-success ">
                    Add Charge
                </button>
            </div>
            <div class="col-md-2">
                <button type="button" onclick="AddChargeDiscnt(1,0,@HG_Order.OID)" class="btn btn-success ">
                   Add Discount
                </button>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-12">
                <table id="TblDiscnChrge" style="width:100%">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Amt</th>
                            <th> Tax</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody id="DiscntChargeTbody">
                        @foreach (var DiscntCharge in ListDicntCharge)
                        {
                            <tr id="DC@(DiscntCharge.ID)">
                                <td>@DiscntCharge.Title</td>
                                <td>@DiscntCharge.Amt.ToString("0.00")</td>
                                <td>@DiscntCharge.Tax.ToString("0.00")</td>
                                <td>
                                    <button class="btn btn-danger btn-sm " onclick="AddChargeDiscnt(0,@DiscntCharge.ID,0)">Edit</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @using (Ajax.BeginForm("SaveEditOrder", "HG_Orders", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "waiting", OnSuccess = "OnSuccess" }))
        {
            <div class="row">
                <div class="col-md-4">
                    @Html.Hidden("OID", OrderID)
                    @Html.Hidden("PtmMode", HG_Order.PaymentStatus)
                </div>
                <div class="col-md-4">
                    @Html.Label("Payment Mode")
                    @{
                        List<SelectListItem> li = new List<SelectListItem>();
                        SelectListItem obj1 = new SelectListItem() { Text = "Select Payment Type", Value = "0" };
                        SelectListItem obj2 = new SelectListItem() { Text = "Cash", Value = "1" };
                        SelectListItem obj3 = new SelectListItem() { Text = "Bank/Wallet", Value = "2" };
                        SelectListItem obj4 = new SelectListItem() { Text = "FoodDo", Value = "3" };

                        li.Add(obj1);
                        li.Add(obj2);
                        li.Add(obj3);
                        li.Add(obj4);
                        li.Find(x => x.Value == HG_Order.PaymentStatus.ToString()).Selected = true;
                    }
                    @Html.DropDownList("PMode", li, new { @class = "form-control " })
                </div>
                <div class="col-sm-1">
                    @Html.Label("Save", new { @class = "text-white" })
                    <input type="submit" value="Save" class="btn btn-success" style="margin-top: 28px;">
                </div>
            </div>
        }
    </div>
</div>
<script>
    ShowDiscntCharge();
    function ShowDiscntCharge() {
        if ($("#TblDiscnChrge > tbody > tr").length > 0) {
            $("#TblDiscnChrge").show();
        }
        else {
            $("#TblDiscnChrge").hide();
        }
    }
    function MinusItemQty(Event,Type) {
        var OIID = $(Event).attr('OIID');
        var Cnt = parseFloat($("#" + OIID).val());
        var Rate = parseFloat($("#Rate" + OIID).val());
        if (Type == 1) {
            Cnt--;
        }
        var Pmode = $("#PtmMode").val();
        
        $.ajax({
            type: 'GET',
            url: "/HG_Orders/UpdateAmt?ID=" + OIID + "&Cnt=" + Cnt + "&Pmode=" + Pmode+"&Rate="+Rate,
            success: function (data) {

                var Jobj = JSON.parse(data);
                if (Jobj.Status == 400) {
                    $("#Rate" + OIID).val(Jobj.Rate);
                    alert(Jobj.MSG);
                    return;
                }
                else {
                    $("#" + OIID).val(Cnt);
                    $("#IntPrice" + OIID).text(Jobj.MSG);
                    ChangeQtySum();
                    ChangetotalAmt();
                }
                
                // not();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $('#waiting').hide();
            }
        });

    }
    function PlusItemQty(Event,Type) {
        var OIID = $(Event).attr('OIID');
        var Cnt = parseFloat($("#" + OIID).val());
        var Pmode = $("#PtmMode").val();
        var Rate = parseFloat($("#Rate" + OIID).val());
        if (Type == 1) {
            Cnt++;
        }
        
        $.ajax({
            type: 'GET',
            url: "/HG_Orders/UpdateAmt?ID=" + OIID + "&Cnt=" + Cnt + "&Pmode=" + Pmode +"&Rate="+Rate,
            success: function (data) {
                var Jobj = JSON.parse(data);
                if (Jobj.Status == 400) {
                    $("#Rate" + OIID).val(Jobj.Rate);
                    alert(Jobj.MSG);

                    return;
                }
                else {
                    $("#IntPrice" + OIID).text(Jobj.MSG);
                    $("#" + OIID).val(Cnt);
                    ChangeQtySum();
                    ChangetotalAmt();
                }
                
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $('#waiting').hide();
            }
        });
    }
    function ChangeQtySum() {
        var ListQty = document.getElementsByClassName('QTY');
        var totalQty = 0;
        for (var i = 0; i < ListQty.length; i++) {
            totalQty += parseInt(ListQty[i].value);
        }
        $("#Quantity").text(totalQty);

    }
    function ChangetotalAmt() {
        var TotalAmount = 0;
        var AmtList = document.getElementsByClassName('ItemPrize');
        for (var i = 0; i < AmtList.length; i++) {
            TotalAmount += parseFloat(AmtList[i].innerHTML);
        }
        $("#TotalAmount").text(TotalAmount);
    }
    function JsonSuccess(Jobj) {
        console.log(Jobj);
        $("#waiting").hide();
        hidedpt('EditOrder');
    }
    function AddChargeDiscnt(Type,ID,OID) {
        $("#waiting").show();
        $.ajax({
            type: 'GET',
            url: "/HG_Orders/DiscntCharges?SeatingId=0&Type=" + Type + "&ID=" + ID + "&OID=" + OID,
            success: function (data) {
                makedpt("DiscntCharge", 400, 400);
                $("#DiscntCharge > .modal-dialog > .modal-content > .modal-body").html(data);
                showdpt("DiscntCharge");
                $("#waiting").hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $("#waiting").hide();
            }
        });
    }
    function ShowItemsToOrder() {
        $("#waiting").show();
        $.ajax({
            type: 'GET',
            url: "/HG_Items/AddItemToOrder",
            success: function (data) {
                makedpt("ShowItems", 600, 600);
                $("#ShowItems > .modal-dialog > .modal-content > .modal-body").html(data);
                showdpt("ShowItems");
                $("#waiting").hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $("#waiting").hide();
            }
        });
    }
    function AddItem(event,ItemId) {
        if (event.checked) {
            if ($("#FID" + ItemId).length > 0) {
                alert('Item Already Exist in Order');
                //$(event).attr('checked', false);
                return;
            }
            var OID = $("#OID").val();
            $.ajax({
                type: 'GET',
                url: "/HG_OrderItem/AddItemToOrder?OID="+OID+"&ItemId=" + ItemId,
                success: function (data) {
                    console.log(data);
                  //  var Jobj = JSON.parse(data);
                    AddRowItem(data);
                },
                error: function (jqXhr, textStatus, errorMessage) { // error callback
                    $("#waiting").hide();
                }
            });
            $(event).attr('checked', true);
            console.log("checked");
        }
        else {
            $("#"+ItemId).remove();
            console.log("Unchecked");
            $(event).prop('checked', false);
        }

    }
    function AddRowItem(Jobj) {
        Jobj = Jobj.msg;
        console.log("AAYa="+Jobj);
        var SN = document.getElementsByClassName('item').length + 1;
        var htmlstr = '<tr id="FID'+ Jobj.FID+'" class="item">';
        htmlstr += '<td>' + SN+'</td>';
        htmlstr += '<td>' + Jobj.ItemNam+'</td>';             
        htmlstr += '<td>' + Jobj.Count+'</td>';    
        htmlstr += '<td>';
        htmlstr += '<div class="row">';
        htmlstr += '<div class="col-md-4"></div>';
        htmlstr+=' <div class="col-md-1">';
        htmlstr += '<span class="input-group-btn float-right">';                          
        htmlstr += '<button type="button" class="btn btn-danger btn-number" data-type="minus" OIID="' + Jobj.OIID+'" onclick="MinusItemQty(this,1)">';
        htmlstr += ' <span class="glyphicon glyphicon-minus"><i class="fa fa-minus"></i></span></button></span></div>';
        htmlstr += ' <div class="col-md-2">';
        htmlstr += ' <input type="text" class="QTY form-control input-number text-center " readonly value="' + Jobj.Count+'" id="' + Jobj.OIID+'" min="0" step="5" size="10" /></div>';
        htmlstr += '<div class="col-md-1">';
        htmlstr += '<span class="input-group-btn float-left">';
        htmlstr += '<button type="button" class="btn btn-success btn-number" data-type="plus" OIID="'+Jobj.OIID+'" onclick="PlusItemQty(this,1)">';
        htmlstr += '<span class="glyphicon glyphicon-plus"><i class="fa fa-plus"></i></span></button></span> </div>';
        htmlstr += '<div class="col-md-4"></div> </div> </td>';
        htmlstr += '<td>';
        htmlstr += Jobj.TickedNo + '</td>';
        htmlstr += '<td>';
        htmlstr += ' <input type="number" onchange="PlusItemQty(this,2)" value="' + Jobj.CostPrice + '" OIID="' + Jobj.OIID + '" step="0.01" id="Rate' + Jobj.OIID+'" />';
        htmlstr += '</td>';
        htmlstr += '<td class="ItemPrize" id="IntPrice'+Jobj.OIID + '">' + Jobj.Price+' </td>';
        htmlstr += '</tr>'; 
        $("#OrderItems").append(htmlstr);
    }
</script>
<style>
    table #TBLID1{
        width: 500px; /* For Responsive design set 100% */
        border-collapse: collapse;
        margin: 30px 0px 30px;
        background-color: #fff;
        font-size: 14px;
    }

        table tr #TBLID1{
            height: 40px;
        }

        table th #TBLID1{
            background: #03493e;
            color: #fff;
            font-weight: bold;
            font-size: 18px;
        }

       table td, th  #TBLID1{
            padding: 6px 6px 6px 10px;
            border: 1px solid #ccc;
            text-align: center;
        }

        /* CSS3 Zebra Striping */
        table tr:nth-of-type(odd) {
            background: #eee;
        }
</style>