@using HangOut.Models;
@{

    Layout = null;
    List<HG_Orders> orderList = new List<HG_Orders>();
    List<vw_HG_UsersDetails> UserList = new List<vw_HG_UsersDetails>();
    if (Request.QueryString["Type"] == "1")
    {

        <div class="card">
            <div class="card-header text-center"><b>Filter</b></div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            @Html.Label("Payment Mode")
                            @{
                                List<SelectListItem> li = new List<SelectListItem>();
                                SelectListItem obj = new SelectListItem() { Text = "Select", Value = "0" };
                                SelectListItem obj1 = new SelectListItem() { Text = "Cash", Value = "1" };
                                SelectListItem obj2 = new SelectListItem() { Text = "Online", Value = "2" };
                                SelectListItem obj3 = new SelectListItem() { Text = "FoodDo", Value = "3" };
                                li.Add(obj);
                                li.Add(obj1);
                                li.Add(obj2);
                                li.Add(obj3);
                            }
                            @Html.DropDownList("PMode", li, new { @class = "form-control " })
                        </div>
                        <div class="col-md-3">
                            @Html.Label("From Date")
                            @Html.TextBox("Fdate", DateTime.Now.ToString("dd-MM-yyyy"), new { @class = "form-control DateField" })
                        </div>
                        <div class="col-md-3">
                            @Html.Label("To Date")
                            @Html.TextBox("Tdate", DateTime.Now.Date.ToString("dd-MM-yyyy"), new { @class = "form-control DateField" })
                        </div>
                        <div class="col-sm-2">
                            <button id="Search" class="btn btn-secondary" style="margin-top:15%"><i class="fa fa-search"></i> Search</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="col" id="List">


        </div>
        <script>
            $(document).ready(function () {
                function Search() {
                    $("#waiting").show();
                    var Pmode = $("#PMode").val();
                    var Fdate = $("#Fdate").val();
                    var Tdate = $("#Tdate").val();
                    $.ajax({
                        url: "/HG_Orders/Ledger?Type=2&PMode=" + Pmode + "&Fdate=" + Fdate + "&Tdate=" + Tdate,
                        type: "GET",
                        success: function (data) {
                            $("#waiting").hide();
                            $("#List2").html("");
                            $("#List").html("");
                            $("#List").html(data);

                        },
                        error: function (jqXhr, textStatus, errorMessage) { // error callback
                            $("#waiting").hide();
                        }

                    });
                }
                $("#Search").click(function () {
                    Search();
                });

            });

        </script>
    }


    else
    {

        int PaymentMode = int.Parse(Request.QueryString["PMode"]);
        DateTime FromDate = DateTime.Parse(Request.QueryString["Fdate"]);
        DateTime Todate = DateTime.Parse(Request.QueryString["Tdate"]);
        orderList = new HG_Orders().GetListByGetDate(FromDate, Todate);
        if (PaymentMode != 0)
        {
            orderList = orderList.FindAll(x => x.PaymentStatus == PaymentMode);
        }
        UserList = new vw_HG_UsersDetails().GetAll();
    }
}
<div class="col" id="List2">
    <div class="card">
        <div class="card-header">Ledger Details </div>
        <div class="card-body">
            <table class="table table-hover table-bordered text-center" id="TBLID">
                <thead>
                    <tr>
                        <th> S.N </th>
                        <th> DateTime </th>
                        <th> Order No </th>
                        <th> Received By</th>
                        <th> AMT (RS)</th>
                        <th> Shift Payment T-Mode</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ObjOrder in orderList)
                    {

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>


                    }

                </tbody>
            </table>
        </div>
    </div>

</div>

