@using HangOut.Models;
@{    Layout = null;}
@{

    int OrgId = int.Parse(Request.Cookies["UserInfo"]["OrgId"]);
    //PrintInvoice TorSid

    Int64 OID = Int64.Parse(Request.QueryString["OID"]);
    List<HG_Orders> orderlist = new List<HG_Orders>();
    List<HG_OrderItem> OrderItems = new List<HG_OrderItem>();
    DateTime OrderDate = DateTime.Now;
    if (Request.QueryString["TorSid"] != null)
    {
        Int64 TorSid = Int64.Parse(Request.QueryString["TorSid"]);
        int OldOtp = int.Parse(Request.QueryString["OldOtp"]);
        orderlist = new HG_Orders().GetListByGetDate(DateTime.Now, DateTime.Now);
        orderlist = orderlist.FindAll(x => x.Table_or_SheatId == TorSid && x.TableOtp == OldOtp);
        foreach(var Order in orderlist)
        {
            OrderItems.AddRange(new HG_OrderItem().GetAll(Order.OID));
        }
    }
    else
    {

        HG_Orders order = new HG_Orders().GetOne(OID);
        orderlist.Add(order);
        OrderItems.AddRange(new HG_OrderItem().GetAll(order.OID));
        OrderDate = order.Create_Date;
    }


    HG_OrganizationDetails OrgObj = new HG_OrganizationDetails().GetOne(OrgId);
    string InvoiceHeading = "Test-1";
    string OrgName = "OrgName";
    string AddressLine1 = "";
    string AddressLine2 = "";
    string AddressLine3 = "";
    string Phoneno = "";
    string GstNo = "";
    string Licence2 = "..................";
    string Licence3 = "..................";
    HashSet<string> OrdesHash = new HashSet<string>(orderlist.Select(x => x.OID.ToString()).ToArray());
    string OrderNo = string.Join(",", OrdesHash);
    double AmountTotal = 0.00;
    int Qty = 0;
    string PaymnetMode = "CASH/ONLINE";
    string PoweredBy = "Powered By FooDo";
    string TicketNos = "";
    List<HG_Items> ItemList = new HG_Items().GetAll();
    HashSet<string> hashTicket = new HashSet<string>(OrderItems.Select(x => x.TickedNo.ToString()).ToArray());
    TicketNos = string.Join(",", hashTicket);
    if (OrgObj.OrgID>0)
    {
        InvoiceHeading = OrgObj.IvoiceHeading;
        OrgName = OrgObj.Name;
        AddressLine1 = OrgObj.Address;
        AddressLine2 = OrgObj.AddressLin2;
        AddressLine3 = OrgObj.AddressLine3;
        Phoneno = OrgObj.Phone;
        GstNo = OrgObj.GSTNO;
        Licence2 = OrgObj.Licence2;
        Licence3 = OrgObj.License3;

    }


}
<style>
    @@media print {
        body * {
            visibility: hidden;
        }

        #section-to-print, #section-to-print * {
            visibility: visible;

        }

        #section-to-print {
            position: absolute;
            left: 0;
            top: 0;
            
        }
    }
    

</style>
<div style="min-height:25px">
<button onclick="window.print();"> PRINT</button>
</div>
<div style="border:3px solid black " id="section-to-print">
    <div style="border:1px solid black">
        <h4 style="text-align:center">@InvoiceHeading</h4>
        <h4 style="text-align:center">@OrgName</h4>
        <h5 style="text-align:center">@AddressLine1</h5>
        <h5 style="text-align:center">@AddressLine2</h5>
        <h5 style="text-align:center">@AddressLine3</h5>
        <h5 style="text-align:center">Phone  @Phoneno         @GstNo</h5>
        <h5 style="text-align:center">@Licence2      @Licence3</h5>
    </div>
    <div style="border:0.5px solid black ;text-align:center">
        <h6><b>ORDER No:</b> @OrderNo   <b>Ticket No:</b> @TicketNos</h6>
        <h6><b>DATE:</b> @OrderDate.ToString("dd/MM/yy HH:mm") <b> MODE:</b>@PaymnetMode </h6>
    </div>
    <table id="InvoiceItems" class="table col-sm-12" >
        <thead>
            <tr>
                <th>Item </th>
                <th>QTY</th>
                <th>AMT </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var items in OrderItems)
            {
                AmountTotal += items.Price *items.Count;
                Qty += items.Count;
                // Qty += items.Qty;
                HG_Items hG_Items = ItemList.Find(x => x.ItemID == items.FID);
                <tr>
                    <td>@hG_Items.Items</td>
                    <td>@items.Count</td>
                    <td>@items.Price</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td>TOTAL</td>
                <td>@Qty.ToString() </td>
                <td>@AmountTotal.ToString()</td>
            </tr>
        </tfoot>
    </table>

    <div style="border:0.5px solid black">
        <h6>NOTE: </h6>
        <div>
            .........................................................................<br />
            .........................................................................
        </div>
        <h6>@PoweredBy</h6>
    </div>

</div>






