@using HangOut.Models;
@using HangOut.Models.DynamicList;
@using HangOut.Models.POS;
@{
    Layout = null;

    Int64 OID = 0;// Int64.Parse(Request.QueryString["OID"]);
                  // int TicketNo=int.Parse(Request.QueryString)
    int TicketNo = 0;
    if (Request.QueryString["TicketNo"] != null)
    {
        TicketNo = int.Parse(Request.QueryString["TicketNo"]);
    }
    OID =int.Parse(Request.QueryString["OID"]);
    // TicketNo = 1;
    HG_Orders objorder = new HG_Orders().GetOne(OID);
    List<HG_OrderItem> orderItems = new HG_OrderItem().GetAll(OID);
    if (TicketNo > 0)
    {
        orderItems = orderItems.FindAll(x => x.TickedNo == TicketNo);
    }

    var ObjFirst = orderItems.FirstOrDefault();
    var UserTyps = new HG_UserTypes().GetAll(all:true);
    var ObjUser = new vw_HG_UsersDetails().GetSingleByUserId((int)ObjFirst.OrdById);
    var UserType = UserTyps.Find(x => x.UserType == ObjUser.UserType);
    int SN = 0;
    int QtyTotoal = 0;
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <style type="text/css">
            @@page {
                size: auto; /* auto is the initial value */

                margin: 0; /* this affects the margin in the printer settings */
            }

            body * {
                visibility: hidden;
            }

            *, html, body {
                margin: 0;
            }

            #section-to-print * {
                visibility: visible;
                margin: 0;
            }

            .TblBorder {
                border: 1px dotted black !important;
            }
        </style>
        <div style="border:2px solid black " id="section-to-print">
            <div id="PrintHeight">
                <div>
                    <h2 style="text-align:center">KOT</h2>
                    <h4 style="text-align:center">SEATING:&nbsp;@HG_Tables_or_Sheat.Seating(objorder.Table_or_SheatId)  &thinsp;&nbsp; Ticket No:@TicketNo</h4>
                    <h5 style="text-align:center">ORDER NO:&nbsp;@OID</h5>
                    <h5 style="text-align:center">DATE:&nbsp;@objorder.Create_Date.ToString("dd/MM/yyyy hh:mm tt")</h5>
                    <h5 style="text-align:center">@OrgType.PaymentMode(objorder.PaymentStatus)</h5>
                    <h5 style="text-align:center">PLACED BY:&nbsp;@UserType.UserTypeName ( @ObjUser.UserId )</h5>
                </div>
                <table id="InvoiceItems" style="width:100%" class=" col-sm-12">
                    <thead>
                        <tr>
                            <th style="text-align:left;font-size:small">S.N.</th>
                            <th style="text-align:center;font-size:small">ITEM NAME </th>
                            <th style="text-align:center;font-size:small">QTY</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var items in orderItems)
                        {
                            SN++;
                            HG_Items hG_Items = new HG_Items().GetOne(items.FID);
                            QtyTotoal += items.Count;
                            <tr>
                                <td style="text-align:left;font-size:small;">@SN</td>
                                <td style="text-align:left;font-size:medium;">
                                    @hG_Items.Items
                                </td>
                                <td style="text-align:center;font-size:small;">@items.Count</td>
                            </tr>

                            if (items.IsAddon == "1")
                            {
                                var OrderAdonItms = OrderAdonItm.GetAll(items.OIID);
                                OrderAdonItms = OrderAdonItms.OrderBy(x => x.AdddOnItemId).ToList();
                                foreach (var addonitm in OrderAdonItms)
                                {
                                    
                    <tr>
                        <td></td>
                        @if (addonitm.ItemId == 0)
                        {
                            <td style="text-align:left;font-size:x-small;font-weight:bold;font-style:italic">
                                - @addonitm.ItemName
                            </td>
                            <td style="text-align:center;font-size:small;"></td>
                        }
                        else
                        {QtyTotoal += items.Count;
                            <td style="text-align:left;font-size:x-small">
                                - @addonitm.ItemName
                            </td>
                            <td style="text-align:center;font-size:small;">@items.Count</td>
                        }


                    </tr>
                                }
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" style="text-align:left;border-top: 1px dotted black;"></td>
                        </tr>
                        <tr>
                            <td style="text-align:left;"></td>
                            <td style="text-align:right">TOTAL</td>
                            <td style="text-align:right">@QtyTotoal</td>
                        </tr>
                    </tfoot>
                </table>

            </div>
            <div style="page-break-after:auto" class="print"></div>
        </div>
    </body>
</html>
}
