@using HangOut.Models;
@using HangOut.Models.DynamicList;
@{ Layout = null;}
@{
    double delivercharges = 0.00;
    int OrgId = int.Parse(Request.Cookies["UserInfo"]["OrgId"]);
    string PaymentMode = "";
    Int64 OID = Int64.Parse(Request.QueryString["OID"]);
    List<HG_Orders> orderlist = new List<HG_Orders>();
    List<HG_OrderItem> OrderItems = new List<HG_OrderItem>();
    DateTime OrderDate = DateTime.Now;
    if (Request.QueryString["TorSid"] != null && Request.QueryString["TorSid"] !="0")
    {
        Int64 TorSid = Int64.Parse(Request.QueryString["TorSid"]);
        // int OldOtp = int.Parse(Request.QueryString["OldOtp"]);
        orderlist = new HG_Orders().GetListByGetDate(DateTime.Now, DateTime.Now);
        orderlist = orderlist.FindAll(x => x.Table_or_SheatId == TorSid && x.PaymentStatus != 0);
        var orderObj = orderlist.First();
        orderlist = orderlist.FindAll(X => X.OID == orderObj.OID);
        OrderItems.AddRange(new HG_OrderItem().GetAll(orderObj.OID));
        OID = orderObj.OID;
        PaymentMode = OrgType.PaymentMode(orderObj.PaymentStatus);
        delivercharges = orderObj.DeliveryCharge;
    }
    else
    {

        HG_Orders order = new HG_Orders().GetOne(OID);
        orderlist.Add(order);
        PaymentMode = OrgType.PaymentMode(order.PaymentStatus);
        OrderItems.AddRange(new HG_OrderItem().GetAll(order.OID));
        OrderDate = order.Create_Date;
        delivercharges = order.DeliveryCharge;
    }
    OrderItems = OrderItems.FindAll(x => x.Status != 4);
    // OrderItems = OrderItems.FindAll(x => x.Status != 4); //not cancedled items
    HG_OrganizationDetails OrgObj = new HG_OrganizationDetails().GetOne(OrgId);
    string InvoiceHeading = "Test-1";
    string OrgName = "OrgName";
    string AddressLine1 = "";
    string AddressLine2 = "";
    string AddressLine3 = "";
    string Phoneno = "";
    string GstNo = "";
    string Licence2 = "";
    string Licence3 = "";
    //  HashSet<string> OrdesHash = new HashSet<string>(orderlist.Select(x => x.OID.ToString()).ToArray());
    string OrderNo = OID.ToString();
    double AmountTotal = 0.00;
    int Qty = 0;
    double TotalTax = 0.00;
    double GrandTotal = delivercharges;
    double RateTotal = 0.00;

    string PoweredBy = "powered by foodDo";
    string TicketNos = "";
    string Printremark ="   ";
    List <HG_Items> ItemList = new HG_Items().GetAll();
    HashSet<string> hashTicket = new HashSet<string>(OrderItems.Select(x => x.TickedNo.ToString()).ToArray());
    TicketNos = string.Join(",", hashTicket);
    if (OrgObj.OrgID > 0)
    {
        InvoiceHeading = OrgObj.IvoiceHeading;
        OrgName = OrgObj.InvoiceTitle;
        AddressLine1 = OrgObj.Address;
        AddressLine2 = OrgObj.AddressLin2;
        AddressLine3 = OrgObj.AddressLine3;
        Phoneno = OrgObj.invoicePhone;
        GstNo = OrgObj.GSTNO;
        Licence2 = OrgObj.Licence2;
        Licence3 = OrgObj.License3;
        Printremark = (OrgObj.PrintRemark != null && OrgObj.PrintRemark != "") ? OrgObj.PrintRemark : Printremark;

    }
}
<style>
    @@media print {
        body * {
            visibility: hidden;
        }

        #section-to-print {
            width: 21cm;
            height: 29.7cm;
            margin: 0mm 0mm 0mm 0mm;
        }

            #section-to-print * {
                visibility: visible;
            }
    }

    .print:last-child {
        page-break-after: auto;
    }
    .TblBorder {
        border: 1px dotted black !important;
    }
</style>



<div class="row">
    <button id="A4Print" onclick="window.print();"> PRINT (A-4) </button>
    <button id="Thermal" onclick="PrintElem()"> PRINT(POS)</button>
</div>
<div style="border:2px solid black " id="section-to-print">
    <div id="PrintHeight" >
        <div>
            <h4 style="text-align:center">@InvoiceHeading</h4>
            <h3 style="text-align:center">@OrgName</h3>
            <h5 style="text-align:center">@AddressLine1</h5>
            @if (AddressLine2 != null && AddressLine2.Replace(" ", "") != "")
            {
                <h5 style="text-align:center">@AddressLine2</h5>
            }
            @if (AddressLine3 != null && AddressLine3.Replace(" ", "") != "")
            {
                <h5 style="text-align:center">@AddressLine3</h5>
            }
            <h5 style="text-align:center">Phone  @Phoneno         @GstNo</h5>
            @if (Licence2 != null && Licence2.Replace(" ", "") != "")
            {
                <h5 style="text-align:center">@Licence2  @Licence3</h5>
            }
        </div>
        <div style="text-align:center">
            <h5>Order No: @OrderNo Ticket No:@TicketNos</h5>
            <h5>Date:@OrderDate.ToString("dd/MM hh:mm tt") Mode :@PaymentMode</h5>
        </div>
        <table id="InvoiceItems" style="width:100%" class=" col-sm-12">
            <thead >
                <tr  >
                    <th style="text-align:center">Item </th>
                    <th style="text-align:center">Qty</th>
                    <th style="text-align:center">Rate</th>
                    <th style="text-align:center">Amt</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var items in OrderItems)
                {
                    double Amt = 0.00;
                    string Style = "background-color:#e05c5c";
                    if (items.Status != 4)
                    {
                        Amt = items.CostPrice * items.Count;
                        AmountTotal += Amt;
                        Qty += items.Count;
                        RateTotal += items.CostPrice;
                        Style = "background-color:white";
                        GrandTotal+= items.Price * items.Count;
                        TotalTax += OrgType.TotalTax(items.CostPrice, items.TaxInItm, items.Count);
                    }
                    // Qty += items.Qty;
                    HG_Items hG_Items = ItemList.Find(x => x.ItemID == items.FID);
                <tr style="@(Style)">
                    <td style="text-align:left;font-size:small;">@hG_Items.Items</td>
                    <td style="text-align:right ;font-size:small;">@items.Count</td>
                    <td style="text-align:right; font-size:small;">@items.CostPrice.ToString("0.00")</td>
                    <td style="text-align:right;font-size:small;">@Amt.ToString("0.00")</td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" style="text-align:left;border-top: 1px dotted black;"></td>
                </tr>
                <tr >
                    <td style="text-align:left;">Total</td>
                    <td style="text-align:right">@Qty.ToString() </td>
                    <td style="text-align:right"></td>
                    <td style="text-align:right">@AmountTotal.ToString("0.00")</td>
                </tr>
                @if (TotalTax > 0)
                {
                    <tr >
                        <td style="text-align:left">Total Tax</td>
                        <td style="text-align:right"> </td>
                        <td style="text-align:right"></td>
                        <td style="text-align:right">@TotalTax.ToString("0.00")</td>
                    </tr>
                }
                @if (delivercharges > 0)
                {
                    <tr >
                        <td style="text-align:left">Del Chrg</td>
                        <td style="text-align:right"> </td>
                        <td style="text-align:right"></td>
                        <td style="text-align:right">@delivercharges.ToString("0.00")</td>
                    </tr>
                }
                @if (TotalTax > 0 || delivercharges > 0)
                {
                    <tr >
                        <td style="text-align:left">GTotal</td>
                        <td style="text-align:right"> </td>
                        <td style="text-align:right"></td>
                        <td style="text-align:right">@GrandTotal.ToString("0.00")</td>
                    </tr>
                }
            </tfoot>
        </table>
        <div style="border-top:1px dotted black;margin:5px 0px 5px 0px;">
            <p >Note:</p>
            <div>
              @Printremark
            </div>
            <p style="page-break-after:auto;text-align:center;margin:10px 0px 10px 0px;">@PoweredBy</p>
        </div>
    </div>
    <div class="print"></div>
</div>

<script>
    function printstr(text1, col1, align) {

        if (align === null) {
            align = "center";
        }

        var text = text1.split(",");
        var col = col1.split(",");

        var arr = new Array();
        var i = 0;
        var rtrstr = "";
        for (i = 0; i < text.length; i++) {

            var t = text[i]; //item name
            var c = parseInt(col[i]); //length of column
            var textlenght = t.length;
            var totalspace = c - textlenght;
            var prefixspace = 0;
            var suffixspace = 0;
            switch (align) {
                case "center":
                    prefixspace = parseInt(totalspace / 2);
                    suffixspace = parseInt(totalspace / 2);
                    var remainingspace = totalspace - (prefixspace + suffixspace);
                    prefixspace = prefixspace + remainingspace;
                    break;
                case "left":
                    prefixspace = 0;
                    suffixspace = parseInt(totalspace);
                    break;
                case "right":
                    prefixspace = parseInt(totalspace);
                    suffixspace = 0;
                    break;
                default:
                    prefixspace = parseInt(totalspace / 2);
                    suffixspace = parseInt(totalspace / 2);
                    var remainingspace = totalspace - (prefixspace + suffixspace);
                    prefixspace = prefixspace + remainingspace;
                    break;
            }



            for (j = 0; j < prefixspace; j++) {

                rtrstr += " ";

            }

            rtrstr += t;
            for (j = 0; j < suffixspace; j++) {

                rtrstr += " ";


            }


        }

        return rtrstr + "\n";

    }
    function ConvertDateJA(d) {
        var date = d;
        var dd = date.getDate();
        var m = date.getMonth() + 1;
        var y = date.getFullYear();
        var h = date.getHours();
        var mm = date.getMinutes();
        var s = date.getSeconds();
        return (dd <= 9 ? '0' + dd : dd) + '/' + (m <= 9 ? '0' + m : m) + '/' + y;
        //return curr_year + "-"  + curr_month + "-" + curr_date;
    }
    function PrintToken() {
        zpl = "";
        zpl += printstr("<h1 style='padding:0px 0px 0px 0px !important;margin:0px;'>TOKEN -123456</h1>", "34", "center");
        zpl += printstr("----------------------------------", "34");
        zpl += printstr("DATE: " + ConvertDateJA(new Date()), "34");
        zpl += printstr("TIME: " + new Date().toLocaleTimeString(), "34");
        zpl += printstr("----------------------------------", "34");
        zpl += printstr("BUILTY NO 1254864578354845785687697879807895675FGHFGHFGHFG", "34");
        zpl += printstr("----------------------------------", "34");
        zpl += printstr("TRUCK NO : 148815448668", "34");
        zpl += printstr("----------------------------------", "34");
        console.log("zpl==" + zpl);
        var printWindow = window.open();
        printWindow.document.open('text/plain');

        printWindow.document.write("<pre>" + zpl + "</pre>");
        printWindow.document.close();
        printWindow.focus();
        printWindow.print();
        printWindow.close();
    }
    function PrintElem() {
        var Section = $('#section-to-print').html();
       // console.log("Section  " + Section);

        // PrintToken();
        Popup(Section);
       // Popup2(Section);
    }

    function Popup(data) {
        var myWindow = window.open('text/plain'); //best in thermal printer remove new popup
        myWindow.document.write('<style type="text/css">*, html,body {margin:0;padding:0;} .TblBorder{border:1px dotted black} media=\"print\"</style>');//*, before html
        //   myWindow.document.write('<body>');
        myWindow.document.write(data);
        // myWindow.document.write('</body></html>');
        myWindow.document.close(); // necessary for IE >= 10
        myWindow.onload = function () { // necessary if the div contain images
           // myWindow.focus(); // necessary for IE >= 10
            myWindow.print();
            myWindow.close();
        };
        myWindow.onfocus = function () { myWindow.close(); }
     //  return true;
    }
    function Popup2(data) {
        var mywindow = window.open('', 'new div');
        mywindow.document.write('<html>');
        mywindow.document.write('<link rel="stylesheet" href = "/Assets/printreceipt.css" type="text/css"/>');
        mywindow.document.write('<body >');
        mywindow.document.write(data);
        mywindow.document.write('</body></html>');
        mywindow.print();
        mywindow.close();
        true;
    }
    
</script>




