
@{
                /**/

                Layout = null;
}
<div class="card">
    <div class="card-header text-center"><b>Filter</b></div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    @Html.Label("Payment Mode")
                    @{
                        List<SelectListItem> li = new List<SelectListItem>();
                        SelectListItem obj = new SelectListItem() { Text = "All", Value = "-1" };
                        SelectListItem objCash = new SelectListItem() { Text = "UnPaid", Value = "0" };
                        SelectListItem obj1 = new SelectListItem() { Text = "Cash", Value = "1" };
                        SelectListItem obj2 = new SelectListItem() { Text = "Bank/Wallet", Value = "2" };
                        SelectListItem obj3 = new SelectListItem() { Text = "FoodDo", Value = "3" };
                        li.Add(obj);
                        li.Add(objCash);
                        li.Add(obj1);
                        li.Add(obj2);
                        li.Add(obj3);

                    }
                    @Html.DropDownList("PMode", li, new { @class = "form-control " })
                </div>
                <div class="col-md-3">
                    @Html.Label("Placed By")
                    @{
                        List<SelectListItem> PlacedByLit = new List<SelectListItem>();
                        SelectListItem objp = new SelectListItem() { Text = "All", Value = "0" };
                        SelectListItem objp1 = new SelectListItem() { Text = "OWNER", Value = "ONR" };
                        SelectListItem objp2 = new SelectListItem() { Text = "CAPTAIN", Value = "CA" };
                        SelectListItem objp3 = new SelectListItem() { Text = "CUSTOMER", Value = "CUST" };
                        PlacedByLit.Add(objp);
                        PlacedByLit.Add(objp1);
                        PlacedByLit.Add(objp2);
                        PlacedByLit.Add(objp3);
                    }
                    @Html.DropDownList("PlacedBy", PlacedByLit, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    @Html.Label("Order Status")
                    @{
                        List<SelectListItem> OrderStstList = new List<SelectListItem>();
                        SelectListItem objpOsl = new SelectListItem() { Text = "All", Value = "0" };
                        SelectListItem objp1Osl = new SelectListItem() { Text = "PLACED", Value = "1" };
                        SelectListItem objp2Osl = new SelectListItem() { Text = "PROCESSING", Value = "2" };
                        SelectListItem objp3Osl = new SelectListItem() { Text = "COMPLETED", Value = "3" };
                        SelectListItem objp4Osl = new SelectListItem() { Text = "CANCELLED", Value = "4" };
                        OrderStstList.Add(objpOsl);
                        OrderStstList.Add(objp1Osl);
                        OrderStstList.Add(objp2Osl);
                        OrderStstList.Add(objp3Osl);
                        OrderStstList.Add(objp4Osl);
                    }
                    @Html.DropDownList("OrdSts", OrderStstList, new { @class = "form-control" })
                </div>

                <div class="col-md-3">
                    @Html.Label("From Date")
                    @Html.TextBox("Fdate", DateTime.Now.ToString("dd-MM-yyyy"), new { @class = "form-control DateField" })
                </div>
                <div class="col-md-3">
                    @Html.Label("To Date")
                    @Html.TextBox("Tdate", DateTime.Now.Date.ToString("dd-MM-yyyy"), new { @class = "form-control DateField" })
                </div>
                <div class="col-sm-2">
                    <button id="Search" class="btn btn-secondary" style="margin-top:15%"><i class="fa fa-search"></i> Search</button>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="col" id="List">
    <table class="table table-hover" id="TBLID">
        <thead>
            <tr>
                <td>S.N</td>
                <td>Order No</td>
                <td>Date</td>
                <td> Amt</td>
                <td>Status</td>
                <td>Payment Mode</td>
            </tr>
        </thead>
        <tbody></tbody>

    </table>

</div>
<script>
    $(document).ready(function () {
        function Search() {
            $("#waiting").show();
            var Pmode = $("#PMode").val();
            var Fdate = $("#Fdate").val();
            var Tdate = $("#Tdate").val();
            var PlacedBy = $("#PlacedBy").val();
            var OrdSts = $("#OrdSts").val();
            $.ajax({
                url: "/Reports/PastOrder?PMode=" + Pmode + "&Fdate=" + Fdate + "&Tdate=" + Tdate + "&PlacedBy=" + PlacedBy + "&OrdSts=" + OrdSts,
                type: "GET",
                success: function (data) {
                    $("#waiting").hide();
                    $("#List").html(data);

                },
                error: function (jqXhr, textStatus, errorMessage) { // error callback
                    $("#waiting").hide();
                }

            });
        }
        $("#Search").click(function () {
            Search();
        });

    });
    function Details(OID) {
        //HG_OrderItem
        //OID
        $("#waiting").show();
        $.ajax({
            type: 'POST',
            url: "/HG_OrderItem/index?OID=" + OID,
            success: function (data) {
                makedpt("CurrOrder");
                $("#CurrOrder > .modal-dialog > .modal-content > .modal-body").html(data);
                showdpt("CurrOrder");
                $("#waiting").hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $("#waiting").hide();
            }
        });

    }
    function PrintInvoice(OID) {

        //$("#waiting").show();
        //$.ajax({
        //    type: 'POST',
        //    url: "/HG_Orders/PrintInvoice?&OID=" + OID,
        //    success: function (data) {
        //        makedpt("invoice");
        //        $("#invoice > .modal-dialog > .modal-content > .modal-body").html(data);
        //        showdpt("invoice");
        //        $("#waiting").hide();
        //        //var Jobje = JSON.parse(data);
        //    },
        //    error: function (jqXhr, textStatus, errorMessage) { // error callback
        //        $("#waiting").hide();
        //    }
        //});
        $.confirm({
            title: "Print Invoice",
            content: "Order No "+OID,
            closeIcon: true,
            buttons: {
                Zero: {
                    text: '0',
                    btnClass: 'btn-info btn-lg PrintBtnWidth',
                    keys: ['0'],
                    columnClass: 'col-md-3',
                    action: function () {

                    }
                },
                One: {
                    text: '1',
                    btnClass: 'btn-info btn-lg PrintBtnWidth',
                    columnClass: 'col-md-3',
                    keys: ['1'],
                    action: function () {
                        OpenPrinter(1, OID, 1, 0);
                    }
                },
                Two: {
                    text: '2',
                    btnClass: 'btn-info btn-lg PrintBtnWidth',
                    keys: ['2'],
                    columnClass: 'col-md-3',
                    action: function () {
                        OpenPrinter(1, OID, 1, 0);
                    }
                },
                Three: {
                    text: '3',
                    btnClass: 'btn-info btn-lg PrintBtnWidth',
                    columnClass: 'col-md-3',
                    keys: ['3'],
                    action: function () {
                        OpenPrinter(1, OID, 1, 0);
                    }
                },
            },
            onOpenBefore: function () {
                $(".jconfirm-buttons").css('width', '100%');
            },
            onDestroy: function () {
                $(".jconfirm-buttons").removeAttr('width');
            }
        });
    }
    function OpenPrinter(Type, OID, NoOfCpy, TicketNo) {
        window.location.href = "foodDo:" + Type + "&" + OID + "&" + NoOfCpy + "&" + TicketNo;
        return;
    }
    
    function EditOrder(OID) {
        $("#waiting").show();
        $.ajax({
            type: 'POST',
            url: "/HG_Orders/EditOrder?OID=" + OID,
            success: function (data) {
                makedpt("EditOrder");
                $("#EditOrder > .modal-dialog > .modal-content > .modal-body").html(data);
                showdpt("EditOrder");
                $("#waiting").hide();
                //var Jobje = JSON.parse(data);
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $("#waiting").hide();
            }
        });

    }

</script>


