@model HangOut.Models.POS.AddOnn
@using HtmlHelpers.BeginCollectionItem
@{
    Layout = null;
}
<div class="AddOnnCls">
    @using (Html.BeginCollectionItem("AddonnList"))
    {
        @Html.HiddenFor(model => model.TitleId,new { @class = "TitleId" })
        @Html.HiddenFor(model=>model.CatOrItmId, new { @class = "AddonCatId" })
        @Html.HiddenFor(model=>model.DeletedStatus,new {@class= "DeletedStatus" })
        @Html.HiddenFor(model=>model.IsServingAddon,new { @class= "IsServingAddon" })
    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(model => model.AddOnTitle)
            @Html.EditorFor(model => model.AddOnTitle, new { htmlAttributes = new { @class = "form-control AddOnTitle", required = "required" } })
            @Html.ValidationMessageFor(model => model.AddOnTitle, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2">
            @Html.LabelFor(model => model.Min)
            @Html.EditorFor(model => model.Min, new { htmlAttributes = new { @class = "form-control Min", tabindex = "-1", required = "required", style = (Model.IsServingAddon ? "pointer-events:none" : "") } })
            @Html.ValidationMessageFor(model => model.Min, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2">
            @Html.LabelFor(model => model.Max)
            @Html.EditorFor(model => model.Max, new { htmlAttributes = new { @class = "form-control Max",tabindex="-1", required = "required", style = (Model.IsServingAddon ? "pointer-events:none" : "") } })
            @Html.ValidationMessageFor(model => model.Max, "", new { @class = "text-danger" })
        </div>
        @if (Model.IsServingAddon == false)
        {
            <div class="col-md-1" id="btn">
                <span>
                    <a class="btn btn-success " title="Add Set Of Choices" onclick="NewAddOn(this);"> <i class="fa fa-plus-circle"></i></a>
                </span>
            </div>
            <div class="col-md-1">
                <a title="Remove Add on " class="btn btn-danger " onclick="RemoveAddon(this);"> <i class="fa fa-minus-circle"></i></a>
            </div>
        }

        <div class="col-md-12" id="Items">
            @foreach (var AddOnItem in Model.AddOnItemList)
            {
                @Html.Partial("AddOnItem", AddOnItem)
            }
        </div>
        <div class="col-md-5"></div>
        <div class="col-md-2" id="btn">
            <a title="Add Item" class="btn btn-success " onclick="ShowItemlist(this);"> <i class="fa fa-plus"></i></a>
        </div>

        <div class="col-md-5"></div>
    </div>
    }
        </div>
