@using HangOut.Models.Feedbk;
@using HangOut.Models.Common;
@using HangOut.Models;
@{
    List<FeedbkItem> feedbkItems = new List<FeedbkItem>();
    List<FeedbkResponse> feedbkResponses = new List<FeedbkResponse>();
    Layout = null;
    if (Request.QueryString["Fdate"] != null && Request.QueryString["Tdate"] != null)
    {
        var UserInfo = Request.Cookies["UserInfo"];
        int OrgId = int.Parse(UserInfo["OrgId"]);
        DateTime FromDate = DateTime.ParseExact(Request.QueryString["Fdate"], "dd-MM-yyyy", System.Globalization.CultureInfo.InvariantCulture);
        DateTime Todate = DateTime.ParseExact(Request.QueryString["Tdate"], "dd-MM-yyyy", System.Globalization.CultureInfo.InvariantCulture);
        List<Feedbk> feedbks = Feedbk.GetAll(OrgId, FromDate, Todate);
        feedbkItems = FeedbkItem.GetAll(OrgId, FromDate, Todate);
        feedbkResponses = FeedbkResponse.GetAll(OrgId, FromDate, Todate);
        // 0:Star,1: Objective,2:Subjective,3:Like Dislike Ok,4:star-subjective
        var OnlyRatingItems = feedbkItems.FindAll(x => x.ResponseType == 0);
        var GroupItemByRating = OnlyRatingItems.GroupBy(x => x.Rating);
        var SumOfRatingByCID = 0.00;
        var TotalPerson = OnlyRatingItems.Count;
        foreach (var ratings in GroupItemByRating)
        {
            SumOfRatingByCID += ratings.Key * ratings.ToList().Count;
        }
        double TotalItemRating = SumOfRatingByCID / TotalPerson;
        var ResponseByType = feedbkResponses.GroupBy(x => x.ResponseType);
        var OnlyLikeDisCntItems = feedbkItems.FindAll(x => x.ResponseType == 3);


<style>
 th {
            background-color: deepskyblue;
        }
</style>
        <div class="card-header">
            <h3>User FeedBack</h3>
        </div>
        <div class="card">
            <!--item feedback-->
            @if (TotalPerson > 0)
            {
                <table class="table table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>Item FeedBack</th>
                            <th>@TotalItemRating.ToString("0.00") / 5 </th>
                            <th>Ratings</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var GroupByItems = OnlyRatingItems.GroupBy(x => x.ItemID);
                            foreach (var items in GroupByItems)
                            {
                                var itemlist = items.ToList();
                                var ObjItm = itemlist.FirstOrDefault();
                                var ItemGrpByRatng = itemlist.GroupBy(x => x.Rating);
                                var SumOfRating = 0.00;
                                HG_Items hG_Items = new HG_Items().GetOne(ObjItm.ItemID);
                                foreach (var ratings in ItemGrpByRatng)
                                {
                                    SumOfRating += ratings.Key * ratings.ToList().Count;
                                }
                                double ItemRating = SumOfRating / itemlist.Count;
                                <tr>
                                    <td>@hG_Items.Items</td>
                                    <td>@ItemRating.ToString("0.00") / 5 </td>
                                    <td>@itemlist.Count</td>
                                    <td></td>
                                </tr>
                            }

                        }

                    </tbody>

                </table>
            }
            @if (OnlyLikeDisCntItems.Count > 0)
            {
                <table class="table table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>Item FeedBack</th>
                            <th> </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var GroupByItems = OnlyLikeDisCntItems.GroupBy(x => x.ItemID);
                            foreach (var items in GroupByItems)
                            {
                                var itemlist = items.ToList();
                                var LikeCnt = itemlist.Sum(x => x.LikeCnt);
                                var DisLikeCnt = itemlist.Sum(x => x.DislikeCnt);
                                var OkCnt = itemlist.Sum(x => x.OkCnt);
                                var ObjItm = itemlist.FirstOrDefault();
                                HG_Items hG_Items = new HG_Items().GetOne(ObjItm.ItemID);
                        <tr>
                            <td>@hG_Items.Items</td>
                            <td>LIKED :@LikeCnt   DISLIKE @DisLikeCnt  NORMAL @OkCnt</td>
                            <td></td>
                        </tr>
                            }

                        }

                    </tbody>

                </table>
            }
            @foreach (var reponses in ResponseByType)
            {
                if (reponses.Key == 0)
                {
                    var Questions = reponses.ToList();
                    var GroupByQuestions = Questions.GroupBy(x => x.QID);

                    foreach (var question in GroupByQuestions)
                    {
                        var questionlist = question.ToList();
                        var questionrating = questionlist.GroupBy(x => x.StarCnt);
                        var sumOfRating = 0.00;
                        foreach (var ratings in questionrating)
                        {
                            sumOfRating += ratings.Key * ratings.ToList().Count;
                        }
                        var ObjQuestion = FeedBackQue.Getone(question.Key);
                        var avgRating = sumOfRating / questionlist.Count;

                        <!--STAR TYPE  0-->
                        <table class="table table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th>@ObjQuestion.Title</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@avgRating.ToString("0.00")/ 5 (@questionlist.Count Rating)</td>
                                    <td>Details</td>
                                </tr>
                            </tbody>

                        </table>
                    }
                }
                if (reponses.Key == 2)
                {
                    var Questions = reponses.ToList();
                    var GroupByQuestions = Questions.GroupBy(x => x.QID);
                    foreach (var question in GroupByQuestions)
                    {
                        var ObjQuestion = FeedBackQue.Getone(question.Key);



                        <!--SUBJECTIVE  2-->
                        <table class="table table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th>@ObjQuestion.Title</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                        </table>
                    }
                }
                if (reponses.Key == 3)
                {
                    var Questions = reponses.ToList();
                    var GroupByQuestions = Questions.GroupBy(x => x.QID);
                    foreach (var question in GroupByQuestions)
                    {
                        var ObjQuestion = FeedBackQue.Getone(question.Key);
                        var LikeCnt = Questions.Sum(x => x.LikeCnt);
                        var DisLikeCnt = Questions.Sum(x => x.DislikeCnt);
                        var OkCnt = Questions.Sum(x => x.NormalOkCnt);

                        <!--LIKE DISLIKE OK  3-->
                        <table class="table table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Rate our Staff Behaviour</th>
                                    <th>Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>LIKED :@LikeCnt   DISLIKE @DisLikeCnt  NORMAL @OkCnt</td>
                                    <td>Details</td>
                                </tr>
                            </tbody>
                        </table>
                    }
                }

                if (reponses.Key == 1)
                {
                    var Questions = reponses.ToList();
                    var GroupByQuestions = Questions.GroupBy(x => x.QID);
                    foreach (var question in GroupByQuestions)
                    {
                        var ObjQuestion = FeedBackQue.Getone(question.Key);
                        var Objectives = FeedbkObj.GetAll(ObjQuestion.ID);
                        var questionlist = question.ToList();


                        <!--MCQ 1-->
                        <table class="table table-hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th>@ObjQuestion.Title</th>
                                    <th>Details </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Objective in Objectives)
                                {
                                    int Cnt = 0;
                                    for (int i = 0; i < questionlist.Count; i++)
                                    {
                                        if (questionlist[i].ObjectiveOptions.Contains(Objective.id.ToString()))
                                        {
                                            Cnt++;
                                        }
                                    }
                                    <tr>
                                        <td>@Objective.Name ( @Cnt Hits)</td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                    }
                }
            }
            <!--SUGGESTION FEEDBACK-->
            <table class="table table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>Rate our Staff Behaviour</th>
                        <th>Details </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>LIKED 0   DISLIKE 0  NORMAL 0</td>

                    </tr>
                </tbody>
            </table>

        </div>
    }
}
<script>
    function ShowDetails() {

    }

</script>
