@model IEnumerable<HangOut.Models.HG_OrderItem>
@{ Layout = null;}
@using HangOut.Models
@{ string OID = Request.QueryString["OID"];
    Int64 OrderId = Int64.Parse(OID);
   

    }

@{List<HG_Items> listItem = new HG_Items().GetAll(); }
<div class="card">
    <div class="card-header">
        <h1 class="text-center" style="color:#000000"><b>List OF Item</b></h1>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        S.N
                    </th>
                    <th>
                        @Html.DisplayName("Items")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Qty)
                    </th>
                    <th>
                        @Html.DisplayName("AMT")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>


                    
                </tr>
            </thead>
            <tbody>
                @{
                    int sno = 0;
                }
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @{ sno++; }
                        @sno
                    </td>
                    <td>
                        @{HG_Items ObjOrder = listItem.Find(x => x.ItemID == item.FID); }
                        @ObjOrder.Items
                    </td>

                    <td>
                        @item.Qty
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        @item.Status
                    </td>

                </tr>
                }
            </tbody>
        </table>
    </div>
</div>