@model IEnumerable<HangOut.Models.HG_Category>
@{
    Layout = null;
}

<div class="card">
    <div class="card-header">
        <h3 style="text-align:center"><b>ITEM</b> </h3>
        <hr />
        <button style="float:left;" onclick="BULKEXCELUPL()" class="btn btn-lg btn-info ">BULK UPLOAD</button>
        <button style="float:right !important;" onclick="DownloadExl()" class="btn btn-lg btn-info ">DOWNLOAD EXCEL</button>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="/HG_Items/Index" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting" class="btn btn-default blackTest form-control">ITEM</a>
        </div>
        <div class="col-md-4">
            <a href="/HG_Category/Index" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"  class="btn btn-default blackTest form-control">CATEGORY</a>
        </div>
        <div class="col-md-4">
            <a href="/HG_Category/AddonsIndex" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"  class="btn btn-default blackBackground form-control">ADD ON</a>
        </div>

    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
                <a href="/HG_Category/CreateEditAddon?ID=0" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting" class="btn btn-info form-control">Add One</a>
            </div>
            <div class="col-md-5"></div>
        </div>
        <table class="table table-hover w-100 " id="TBLID">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th>
                        @Html.DisplayName("AddOn Items")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            <button id="@item.CategoryID" onclick="AddOnIndex(@item.CategoryID)" class="btn btn-info btn-sm "> Add </button>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            <a href=" /HG_Category/CreateEditAddon?ID=@item.CategoryID" class="btn btn-warning btn-sm " data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"> Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>

    function AddOnIndex(CatId) {
        $('#waiting').show();
        $.ajax({
            type: 'GET',
            url: "/HG_Items/AddOnItmIndex?CatId=" + CatId,
            success: function (data) {
                makedpt("AddOnIndex");
                $("#AddOnIndex > .modal-dialog > .modal-content > .modal-body").html(data);
                showdpt("AddOnIndex");
                $('#waiting').hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $('#waiting').hide();
            }
        });


    }
    function BULKEXCELUPL() {
        $('#waiting').show();
        $.ajax({
            type: 'GET',
            url: "/HG_Items/UplExl",
            success: function (data) {
                makedpt("CreateSheat");
                $("#CreateSheat > .modal-dialog > .modal-content > .modal-body").html(data);
                showdpt("CreateSheat");
                $('#waiting').hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $('#waiting').hide();
            }
        });
    }
</script>