@model IEnumerable<HangOut.Models.HG_Category>
    @{ 
        Layout = null;
    }
@using HangOut.Models
 

 
    <div class="card">
        <div class="card-header">
            <h3 style="text-align:center"><b> Item Category </b> </h3>
            <hr />
        </div>
        <a href="/HG_Category/CreateEdit?ID=0" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting" class="btn btn-success"><i class="fa fa-plus">ADD</i></a>
        <div class="card-body">
            <table class="table  " id="TBLID">
                <thead>
                    <tr>
                       
                        <th>
                            @Html.DisplayNameFor(model => model.Category)
                        </th>
                       
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr id="@item.CategoryID">
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            <a href=" /HG_Category/CreateEdit?ID=@item.CategoryID" class="btn btn-warning btn-sm " data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"> Edit</a>
                            <button class="btn btn-danger btn-sm " onclick="Delete(@item.CategoryID)"> Delete</button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
<script>
    function Delete(ID) {
        if (confirm('Are You Sure')) {
            $('#waiting').show();
            $.ajax({
                type: 'GET',
                url: "/HG_Category/Delete?ID=" + ID,
                success: function (data) {
                  //  var da = JSON.parse(data);
                    if (data.msg != null && data.msg != "") {
                        alert(data.msg);

                    }
                    else {
                        $("#" + ID).hide();
                    }
                    console.log(data);
                    $('#waiting').hide();
                },
                error: function (jqXhr, textStatus, errorMessage) { // error callback
                    console.log(errorMessage);
                    Onfail(errorMessage.MSG);
                    $('#waiting').hide();
                }
            });
        }
    }
</script>