@model IEnumerable<HangOut.Models.Common.City>
@using HangOut.Models.Common
@{

    Layout = null;
    switch (Request.QueryString["Type"])
    {
        //case 1 for show filters only
        case "1":

            <div class="card">
                <div class="row">
                    <div class="col-md-7">

                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
                <div class="card-header text-center"><b>Filter</b></div>

                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                @Html.Label("State Name")
                                @{

                                    SelectList selectList = new SelectList(new State().GetAll(), "StateId", "Name");
                                }
                                @Html.DropDownList("SID", selectList, new { @class = "form-control" })
                            </div>
                            <div class="col-sm-2">
                                <button id="Search" class="btn btn-secondary" style="margin-top:15%"><i class="fa fa-search"></i> Search</button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="col" id="List">


            </div>

            <script>
                function Search() {
                    $("#waiting").show();
                    var StateCode = $("#SID").val();
                    $.ajax({
                        url: "/City/index?Type=2&StateCode=" + StateCode,
                        type: "GET",
                        success: function (data) {
                            $("#List2").html("");
                            $("#List").html("");
                            $("#List").html(data);
                            $("#waiting").hide();
                        },
                        error: function (jqXhr, textStatus, errorMessage) { // error callback
                            $("#waiting").hide();
                        }

                    });
                }
                $("#Search").click(function () {
                    Search();
                });
            </script>
            break;
            
    }
}

<div class="col" id="List2">
    <div class="card">
        <div class="card-header">City/District List </div>
        <div class="card-body">
            <table class="table table-hover table-bordered text-center" id="TBLID">
                <thead>
                    <tr>
                        <th> Code </th>
                        <th> Name </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr id="@item.CityId">
                        <td>@item.CityId</td>
                        <td>@item.Name</td>
                        <td>
                            <button class="btn btn-danger btn-sm " onclick="Delete(@item.CityId)"> Delete</button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
 
 <script>
     function Delete(ID) {
         if (confirm('Are You Sure')) {
             $('#waiting').show();
             $.ajax({
                 type: 'GET',
                 url: "/City/Delete?ID=" + ID,
                 success: function (data) {
                     //  var da = JSON.parse(data);
                     if (data.msg != null && data.msg != "") {
                         alert(data.msg);

                     }
                     else {
                         $("#" + ID).hide();
                     }
                     console.log(data);
                     $('#waiting').hide();
                 },
                 error: function (jqXhr, textStatus, errorMessage) { // error callback
                     console.log(errorMessage);
                     Onfail(errorMessage.MSG);
                     $('#waiting').hide();
                 }
             });
         }
     }
 </script>




