@model IEnumerable<HangOut.Models.Inventory.INTGSTBL>
@using HangOut.Models.Inventory;
@{
    Layout = null;
    List<INTUnits> listUnits = INTUnits.GetAll();
    List<InventoryType> inventoryTypes = InventoryType.ListOrgTypeidList();
}
<div class="card">

    <div class="card-header">
        <h3 class="text-center">Items</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="/INTGSTBL/Index" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting" class="btn btn-default blackBackground blackTest form-control">Items</a>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <a href="/Category/Index" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting" class="btn btn-default blackBackground blackTest form-control">Category</a>

        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <button onclick="CreateEdit('0')" class="btn btn-info form-control">Add Items</button>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover w-100" id="TBLID">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.GSID)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Unit
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Qty)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="Tbody">
                @foreach (INTGSTBL Obj in Model)
                {
                    <tr id="@Obj.GSID">
                        <td>@Obj.GSID</td>
                        <td>@Obj.Name</td>
                        <td>
                              
                              @{ InventoryType OBjinventory = inventoryTypes.Find(x => x.Typeid==Obj.Typeid);} 
                            @OBjinventory.Name
                                            </td>
                        <td>
                            @{INTUnits OBJUnits = listUnits.Find(x => x.UnitID == Obj.UnitID); }
                            @OBJUnits.Name
                        </td>
                        <td>@Obj.Qty</td>
                        <td>
                            <button class="btn btn-warning btn-sm " onclick="CreateEdit(@Obj.GSID)"> Edit</button>
                            <button class="btn btn-danger btn-sm " onclick="Delete(@Obj.GSID)"> Delete</button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>
<script>
    var AddGoods = false;
    function Delete(ID) {
        if (confirm('Are You Sure')) {
            $('#waiting').show();
            $.ajax({
                type: 'GET',
                url: "/INTGSTBL/Delete?ID=" + ID,
                success: function (data) {
                    //  var da = JSON.parse(data);
                    if (data.msg != null && data.msg != "") {
                        alert(data.msg);

                    }
                    else {
                        $("#" + ID).hide();
                    }
                    console.log(data);
                    $('#waiting').hide();
                },
                error: function (jqXhr, textStatus, errorMessage) { // error callback
                    console.log(errorMessage);
                    Onfail(errorMessage.MSG);
                    $('#waiting').hide();
                }
            });
        }
    }
    function CreateEdit(ID) {
        if (ID != "0") {
            AddGoods = false;
        } else {
            AddGoods = true;
        }
        $.ajax({
            type: 'GET',
            url: "/INTGSTBL/CreateEdit?ID=" + ID,
            success: function (data) {
                makedpt("INTGSTBL");
                $("#INTGSTBL > .modal-dialog > .modal-content > .modal-body").html(data);
                showdpt("INTGSTBL");
                $('#waiting').hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $('#waiting').hide();
            }
        });

    }
    function JsonSuccess(Jobj) {

        var Jitmobj = Jobj.data;
        console.log(Jitmobj);
        hidedpt("INTGSTBL");
        $('#waiting').hide();
        var HtmlStr = "<tr id='" + Jitmobj.GSID + "'>";
        HtmlStr += '<td>' + Jitmobj.GSID + '</td>';
        HtmlStr += '<td>' + Jitmobj.Name + '</td>';
        HtmlStr += '<td>' + Jitmobj.UnitID + '</td>';
        HtmlStr += '<td>' + Jitmobj.Qty + '</td>';
        HtmlStr += '<td><button class="btn btn-warning btn-sm " onclick="CreateEdit(' + Jitmobj.GSID + ')"> Edit</button>';
        HtmlStr += '<button class="btn btn-danger btn-sm " onclick="Delete(' + Jitmobj.GSID
        HtmlStr += ')"> Delete</button></td ></tr > ';
        if (AddGoods) {
            $("#Tbody").append(HtmlStr);
        }
        else {
            $('#' + Jitmobj.GSID).remove();
            $("#Tbody").append(HtmlStr);
        }
    }
    function ListService(ID) {
        $('#waiting').show();
        console.log("sad");
        $.ajax({
            type: 'GET',
            url: "/INTGSTBL/ServiceCreateEdit?ID=" + ID,
            success: function (data) {
                
                $('#waiting').hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $('#waiting').hide();
            }
        });
    }
</script>
