@model IEnumerable<HangOut.Models.HG_UserTypes>
@{
    Layout = null;
}
<div class=" card">
    <div class=" card-header">
        <h1 style="text-align:center"><b>MASTER PAGE</b> </h1>
        <hr />
    </div>
    <a href="/HG_UserTypes/CreateEdit?ID=0" class="btn btn-success" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"><i class="fa fa-plus">ADD</i></a>
    <div class="card-body">


        <table class="table table-bordered table-hover w-100" id="TBLID">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(Model => Model.UTID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserType)
                    </th>
                   
                    <td>
                        @Html.DisplayNameFor(model => model.Status)
                    </td>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(ModelItem => item.UTID)
                        </td>
                       
                        <td>
                            @Html.DisplayFor(modelItem => item.UserTypeName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            <a href=" /HG_UserTypes/CreateEdit?ID=@item.UTID" class="btn btn-warning btn-sm " data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting" > Edit</a>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>