@model HangOut.Models.HG_Tables_or_Sheat
@{
    Layout = null;
}
@using HangOut.Models
@{
    List<HG_OrganizationDetails> listorgonization = new HG_OrganizationDetails().GetAll(1);
    var OrgObj = Request.Cookies["UserInfo"];

    }
<div class="card">
    <div class="card-header">
        <h4 style="text-align:center;color:#000000"><b> ADD TAKE-AWAY </b></h4>
        <hr />
    </div>
    <div class="card-body">
        @using (Ajax.BeginForm("SaveTakeAway", "HG_Tables_or_Sheat", new { Table_or_RowID = Model.Table_or_RowID }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DynamicData", LoadingElementId = "waiting", OnSuccess = "OnSuccess" }))
        {
            @Html.HiddenFor(model => model.Table_or_RowID)
            @Html.HiddenFor(model => model.CreateDate)
            @Html.HiddenFor(model => model.Otp)
            @Html.HiddenFor(model=>model.Status)
            @Html.HiddenFor(model => model.OMID)
            @Html.HiddenFor(model => model.QrCode)
            @Html.HiddenFor(model => model.FloorSide_or_RowNoID)
            @Html.HiddenFor(model => model.Floor_or_ScreenId)
            @Html.HiddenFor(model=>model.Type)
        <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @if (OrgObj["OrgId"] != "0")
            {
                @Html.HiddenFor(model => model.OrgId)
            }
            else
            {
                <div class="col-sm-4">
                    @Html.Label("Orgonization Name")
                    @Html.DropDownListFor(model => model.OrgId, new SelectList(new HG_OrganizationDetails().GetAll(), "OrgID", "Name", Model.OrgId), "Select Organization Name", new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.OrgId, "", new { @class = "text-danger" })
                </div>

            }

            <div class="col-sm-4">
                @Html.Label("Name")
                @Html.EditorFor(model => model.Table_or_SheetName, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Table_or_SheetName, "", new { @class = "text-danger" })

            </div>
           
            <div class=" col-sm-1">
                @Html.Label("Save", new { @class = "text-white" })
                <input type="submit" value="Save" class="btn btn-success" />
            </div>

        </div>
        }

    </div>
</div>
