@model IEnumerable<HangOut.Models.HG_Tables_or_Sheat>
@using HangOut.Models.Common;
@{
    Layout = null;
}
@using HangOut.Models
@{ List<HG_FloorSide_or_RowName> listfloor = new HG_FloorSide_or_RowName().GetAll(1);}
@{ List<HG_Floor_or_ScreenMaster> listscreen = new HG_Floor_or_ScreenMaster().GetAll(1);}
 <div class="card">
    <div class="card-header">
        <h1 style="text-align:center"><b>TABLES</b> </h1>
        <hr />
    </div>
    <a href="/HG_Tables_or_Sheat/CreateEdit?ID=0" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting" class="btn btn-success"><i class="fa fa-plus">ADD</i></a>
    <div class="card-body">
        <table class=" table table-bordered table-hover w-100" id="TBLID">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Qr Code")
                    </th>
                    <th>
                        @Html.DisplayName("Otp")
                    </th>
                    <th>
                        @Html.DisplayName("Table Name")
                    </th>
                    <th>
                        @Html.DisplayName("Floor Number")
                    </th>
                    <th>
                        @Html.DisplayName("Floor Side")
                    </th>


                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    string ImgName = QrCode.GenerateQr(item.QrCode,Path: "QRImgTorR");
                <tr>
                    <td><img src="~/QRImgTorR/@ImgName" width="60" height="60" /></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Otp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Table_or_SheetName)
                    </td>
                    <td>
                        @{ HG_Floor_or_ScreenMaster ObjScreen = listscreen.Find(x => x.Floor_or_ScreenID == item.Floor_or_ScreenId);}
                        @ObjScreen.Name
                    </td>
                    <td>
                        @{ HG_FloorSide_or_RowName Objfloor = listfloor.Find(x => x.ID == item.FloorSide_or_RowNoID);}
                        @Objfloor.FloorSide_or_RowName
                    </td>
                    <td>
                        <a href=" /HG_Tables_or_Sheat/CreateEdit?ID=@item.Table_or_RowID" class="btn btn-warning btn-sm " data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"> Edit</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>