@model IEnumerable<HangOut.Models.HG_Tables_or_Sheat>
@{
    Layout = null;
}
@using HangOut.Models
@{ List<HG_OrganizationDetails> listorgonization = new HG_OrganizationDetails().GetAll(2);
    List<HG_Floor_or_ScreenMaster> listscreen = new HG_Floor_or_ScreenMaster().GetAll(2);
    List<HG_FloorSide_or_RowName> ListRows = new HG_FloorSide_or_RowName().GetAll(2);

    }

<div class="card">
    <div class="card-header">
        <h1 style="text-align:center"><b>SEAT</b> </h1>
        <hr />
    </div>
    <button  onclick="CreateEdit('0')" class="btn btn-success"><i class="fa fa-plus">ADD</i></button>
    <div class="card-body">
        <table class=" table table-bordered table-hover w-100" id="TBLID">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.QrCode)
                    </th>
                    <th>
                        @Html.DisplayName("Seat  Name")
                    </th>
                    <th>
                        @Html.DisplayName("Row Number")
                    </th>
                    <th>
                        @Html.DisplayName("Screen Number")
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody id="Tbody">
                @foreach (var item in Model)
                {
                <tr id="@item.Table_or_RowID">

                    <td>
                        @Html.DisplayFor(modelItem => item.QrCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Floor_or_ScreenId)
                    </td>
                    <td>
                        @{

                            var ObjRow = ListRows.Find(x => x.ID == item.FloorSide_or_RowNoID);
                            if (ObjRow == null)
                            {
                            }
                            else
                            {
                                @ObjRow.FloorSide_or_RowName
                            }
                        }
                    </td>
                    <td>
                        @{ HG_Floor_or_ScreenMaster ObjScreen = listscreen.Find(x => x.Floor_or_ScreenID == item.Floor_or_ScreenId);
                            if (ObjScreen == null)
                            {
                            }
                            else
                            {
                                @ObjScreen.Name
                            }


                        }

                    </td>
                    <td>
                        <button onclick="CreateEdit(@item.Table_or_RowID)" class="btn btn-warning btn-sm "> Edit</button>
                    </td>
                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
<script>
    var AddTr = false;
    function JsonSuccess(Jobj) {
        hidedpt("CreateSheat");
        var Jitmobj =JSON.parse(Jobj.data);
        var HtmlStr = "<tr id='" + Jitmobj.Table_or_RowID + "'>";
        HtmlStr += '<td>' + Jitmobj.QrCode + '</td>';
        HtmlStr += '<td>' + Jitmobj.Table_or_SheetName + '</td>';
        HtmlStr += '<td>' + Jitmobj.ScreenName + '</td>';
        HtmlStr += '<td><button class="btn btn-warning btn-sm " onclick="CreateEdit(' + Jitmobj.Table_or_RowID + ')"> Edit</button></td></tr>';
        if (AddTr) {
            $("#Tbody").append(HtmlStr);
        }
        else {
            $('#' + Jitmobj.Table_or_RowID).remove();
            $("#Tbody").append(HtmlStr);
        }

        $('#waiting').hide();
    }

    function CreateEdit(ID) {
        if (ID != "0") {
            AddTr = false;
        } else {
            AddTr = true;
        }
        $('#waiting').show();
        $.ajax({
            type: 'GET',
            url: "/HG_Tables_or_Sheat/SheetCreateEdit?ID="+ID,
            success: function (data) {
                makedpt("CreateSheat");
                $("#CreateSheat > .modal-dialog > .modal-content > .modal-body").html(data);
                showdpt("CreateSheat");
                $('#waiting').hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $('#waiting').hide();
            }
        });

    }


</script>