@model IEnumerable<HangOut.Models.Account.Accounts>

@using HangOut.Models.Account;
@{

    Layout = null;
}

<div class="card">
    <div class="card-header">
        @if (Request.QueryString["ID"] == "43")
        {
            <h3 class="text-center">Customer</h3>
        }
        else if (Request.QueryString["ID"] == "27")
        {
            <h3 class="text-center">PayTm</h3>
        }
        else if (Request.QueryString["ID"] == "25")
        {
            <h3 class="text-center">Commission</h3>
        }


    </div>
    <div class="row">
        <div class="col-md-1">
            <a href="/Ledger/Index" style="background-color:white" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting" class="btn btn-default blackBackground blackTest form-control"> Back</a>
        </div>
    </div>
    <div class="card-body">
        <table class="table" id="TBLID" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayName("Type")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EntryNo)
                    </th>
                    <th>
                        @Html.DisplayName("Narration")
                    </th>
                    <th>
                        @Html.DisplayName("DR")
                    </th>
                    <th>
                        @Html.DisplayName("CR")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Balance)
                    </th>


                </tr>
            </thead>
            <tbody id="Tbody">
                @foreach (Accounts Obj in Model)
                {
                    <tr id="@Obj.AID">
                        <td>@Obj.Date.ToString("dd/MM/yyyy")</td>
                        <td>@Obj.ReceiptType</td>
                        <td>@Obj.Type</td>
                        <td>@Obj.Narration</td>
                        <td>@Obj.DRAmount.ToString("0.00")</td>
                        <td>@Obj.CRAmount.ToString("0.00")</td>
                        @if (Obj.Balance > 0)
                        {
                            <td>@Obj.Balance.ToString("0.00")</td>
                            if (Obj.Balance != 0)
                            {
                                <td>CR</td>
                            }

                        }
                        else
                        {
                            <td>@Obj.Balance.ToString("0.00")</td>
                            if (Obj.Balance != 0)
                            {
                                <td>DR</td>
                            }
                        }

                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
