@model HangOut.Models.Account.Accounts

@using HangOut.Models.Common
@using HangOut.Models.Account;

@{
    Layout = null;

}
<div class="card">
    <div class="card-header">
        <h3 style="text-align:center;color:#000000"><b>Entry</b></h3>
        <hr />
    </div>
    <div class="card-body GetEntryData">

        @using (Ajax.BeginForm("CreateEdit", "Accounts", new { ID = Model.AID }, new AjaxOptions { HttpMethod = "POST", LoadingElementId = "waiting", OnSuccess = "OnSuccess" }))
        {
            @Html.HiddenFor(model => model.AID)


            <div class="row">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => model.AID, "", new { @class = "text-danger" })

                @{
                    <div class="col-md-3">
                        @Html.Label("EntryType")
                        @Html.DropDownListFor(model => model.EntryType, new SelectList(JournalEntry.EType(), "ID", "Name", Model.AID), "Select", new { @class = "form-control Entrytype", required = "required" })
                        @Html.ValidationMessageFor(model => model.EntryType, "", new { @class = "text-danger" })

                    </div>
                }
                <div class="col-md-3">
                    @Html.Label("Date")
                    @Html.TextBoxFor(model => model.Date, DateTime.Now.Date.ToString("dd-MM-yyyy"), new { @class = "form-control DateField Date" })
                </div>
            </div>
            <hr />
            <span id="AddNew" style="display:inline-block;height:100%;width:100%;border: 1px solid black;padding:5px;padding-bottom:25px;">
                <div class="row">

                    @{
                        <div class="col-md-1">
                            @Html.Label("Type")
                            @Html.DropDownListFor(model => model.Type, new SelectList(JournalEntry.JType(), "ID", "Name", Model.AID), "Select", new { @class = "form-control Type", @onchange = "TypeChange(this)", required = "required", id = "did" })
                            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })

                        </div>
                    }

                    @{
                        <div class="col-md-3">
                            @Html.Label("Account")
                            @Html.DropDownListFor(model => model.Account, new SelectList(Ledger.GetAll(), "ID", "Name", Model.AID), "Select", new { @class = "form-control Account", required = "required" })
                            @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })

                        </div>
                    }
                    <div class="col-md-2">
                        <span class="Debit">
                            @Html.LabelFor(model => model.DRAmount, htmlAttributes: new { @class = "control-label  " })

                            @Html.EditorFor(model => model.DRAmount, new { htmlAttributes = new { @class = "form-control Debit", id = "drid" } })
                            @Html.ValidationMessageFor(model => model.DRAmount, "", new { @class = "text-danger" })
                        </span>
                    </div>
                    <div class="col-md-2">
                        <span class="Credit">
                            @Html.LabelFor(model => model.CRAmount, htmlAttributes: new { @class = "control-label  " })

                            @Html.EditorFor(model => model.CRAmount, new { htmlAttributes = new { @class = "form-control Credit", id = "cid" } })
                            @Html.ValidationMessageFor(model => model.CRAmount, "", new { @class = "text-danger" })
                        </span>
                    </div>
                    <div class="col-md-1">
                        @*@Html.Label("Add", new { @class = "text-white" })
                            <input style="margin-top:25px" onclick="NewAddOn()" value="Add" class="btn btn-success" />*@
                        <i style="margin-top:35px;font-size:x-large;" class="fa fa-plus-circle" onclick="NewAddOn()"></i>

                    </div>
                </div>

                <div id="HeadDiv" style="display:none"></div>
            </span>
            <hr />
            <div class="row">
                <div class="col-md-3">


                </div>
                <div class="col-md-1">
                    <b>
                        @Html.Label("Total")
                    </b>


                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    @Html.Label("Narration")
                    @Html.TextAreaFor(model => model.Narration, new { htmlAttributes = new { @class = "form-control Narration" } })
                    @Html.ValidationMessageFor(model => model.Narration, "", new { @class = "text-danger" })

                </div>
                <div class="col-md-1">
                    @Html.Label("Save", new { @class = "text-white" })
                    <input style="margin-top:25px" onclick="SaveAdon()" value="Save" class="btn btn-success" />

                </div>
            </div>
        }


    </div>
</div>
<script>

    function TypeChange(event) {
        console.log("aaya");
        var values = $(event).val();
        if (values === "1") {
            $(event).parent('div').parent('div').find('.Credit').show();
            $(event).parent('div').parent('div').find('.Debit').hide();
            //  $("#cid").show();
            // $("#drid").hide();
        }
        else if (values === "0") {
            $(event).parent('div').parent('div').find('.Credit').hide();
            $(event).parent('div').parent('div').find('.Debit').show();
        }
    }

    function NewAddOn(event) {
        $('#waiting').show();
        $.ajax({
            type: 'GET',
            url: "/JournalEntry/GetUI",
            success: function (data) {
                // $("#HeadDiv").append(data);
                $("#AddNew").append(data);
                $('#waiting').hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $('#waiting').hide();
            }
        });
    }
    function SaveAdon() {
        var EList = [];
        var GetData = document.getElementsByClassName("GetEntryData");
        for (var i = 0; i < GetData.length; i++) {
            var AddonObj = {};
            var ObjAddJQ = $(GetData[i]);
            console.log(" " + ObjAddJQ);
            AddonObj.Date = ObjAddJQ.find(".Date").val();
            AddonObj.DRAmount = ObjAddJQ.find(".Debit").val();
            AddonObj.CRAmount = ObjAddJQ.find(".Credit").val();
            AddonObj.Narration = ObjAddJQ.find(".Narration").val();
            AddonObj.EntryType = ObjAddJQ.find(".EntryType").val();
            if (AddonObj.DRAmount > 0) {
                AddonObj.DRLedgerId = ObjAddJQ.find(".Account").val();
            }
            else {
                AddonObj.DRLedgerId = ObjAddJQ.find(".Account").val();
            }
            AddonObj.EntryType = ObjAddJQ.find(".EntryType").val();

            EList.push(AddonObj);
        }
        $('#waiting').show();
        $.ajax({
            type: 'POST',
            url: "/Accounts/CreateEdit",
            data: JSON.stringify(EList),
            contentType: "application/json",
            success: function (data) {

                $('#waiting').hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $('#waiting').hide();
            }
        });

    }
</script>
