@model HangOut.Models.Account.Accounts

@using HangOut.Models.Common
@using HangOut.Models.Account;
@{
    Layout = null;
}

<div class="row" id="CreateCopy">

    @{
        <div class="col-md-1">
            @Html.Label("Type")
            @Html.DropDownListFor(model => model.EntryType, new SelectList(JournalEntry.JType(), "ID", "Name", Model.AID), "Select", new { @class = "form-control Type", @onchange = "TypeChange(this)", required = "required" })
            @Html.ValidationMessageFor(model => model.EntryType, "", new { @class = "text-danger" })

        </div>
    }

    @{
        <div class="col-md-3">
            @Html.Label("Account")
            @Html.DropDownListFor(model => model.Account, new SelectList(Ledger.GetAll(), "ID", "Name", Model.AID), "Select", new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })

        </div>
    }
    <div class="col-md-2">
        <span class="Debit">
            @Html.LabelFor(model => model.DRAmount, htmlAttributes: new { @class = "control-label  " })

            @Html.EditorFor(model => model.DRAmount, new { htmlAttributes = new { @class = "form-control Debit", id = "drid" } })
            @Html.ValidationMessageFor(model => model.DRAmount, "", new { @class = "text-danger" })
        </span>
    </div>
    <div class="col-md-2">
        <span class="Credit">
            @Html.LabelFor(model => model.CRAmount, htmlAttributes: new { @class = "control-label  " })

            @Html.EditorFor(model => model.CRAmount, new { htmlAttributes = new { @class = "form-control Credit", id = "cid" } })
            @Html.ValidationMessageFor(model => model.CRAmount, "", new { @class = "text-danger" })
        </span>
    </div>
    <div class="col-md-1">
        @*@Html.Label("Add", new { @class = "text-white" })
            <input style="margin-top:25px" onclick="NewAddOn()" value="Add" class="btn btn-success" />*@
        <i style="margin-top:35px;font-size:x-large;" class="fa fa-plus-circle" onclick="NewAddOn()"></i>

    </div>
</div>
