@model IEnumerable<HangOut.Models.Account.Accounts>

@using HangOut.Models.Account;
@{

    Layout = null;
}

<div class="card">
    <div class="card-header">
        <h3 class="text-center">Account Statement</h3>
    </div>

    <div class="card-body">
        
        <table class="table" id="TBLID" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Narration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DRAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CRAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Balance)
                    </th>

                </tr>
            </thead>
            <tbody id="Tbody">
                @foreach (Accounts Obj in Model)
                {
                    <tr id="@Obj.AID">
                        <td>@Obj.Date</td>
                        <td>@Obj.Narration</td>
                        <td>@Obj.DRAmount</td>
                        <td>@Obj.CRAmount</td>
                        <td>@Obj.Balance</td>

                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>