 @{ Layout = null;}
<div class="row">
    <div class=" col-sm-12 text-center">
        <h4>Video Category</h4>
    </div>
</div>

<div class=" card p-1 m-5">
    
        @Html.Label("Category")<br />
        <input type="text" placeholder="Category" />
    
    <div class="col-sm-6 text-center">
        @Html.Label("Title")<br />
        <input type="text" placeholder="Title" />
    </div>
    <div class="col-sm-6 text-center">
        @Html.Label("Discription")<br />
        <input type="text" placeholder="Discription" />
    </div>
    <div class="col-sm-6 text-center">
        @Html.Label("Link")<br />
        <input type="text" placeholder="Link" />
    </div>
    <div class="col-sm-6 text-center">
        @Html.Label("Piority")<br />
        <input type="checkbox"   />
    </div>
    <div class="col-sm-6 text-center">
        <select class="form-control" name="StudentGender">
            <option>Select Gender</option>
            <option>Hindi</option>
            <option>English</option>
            <option>Urdu</option>
        </select>
    </div>
</div>