@model HangOut.Models.HG_Floor_or_ScreenMaster
 @{ 
     Layout = null;
 }
@using HangOut.Models
@{ List<HG_OrganizationDetails> listorgonization = new HG_OrganizationDetails().GetAll();}
<div class="card">
    <div class="card-header">
        <h4 style="text-align:center;color:#000000"><b>Floor  </b></h4>
        <hr />
    </div>
    <div class="card-body">
        @using (Ajax.BeginForm("CreateEdit", "HG_Floor_or_ScreenMaster", new {  ID = Model.Floor_or_ScreenID }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DynamicData", LoadingElementId = "waiting", OnSuccess = "OnSuccess" }))
        {
           
            @Html.HiddenFor(model => model.Floor_or_ScreenID)
            <div class="row">


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="col-sm-4">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label  " })

                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label  " })

                    @{
                        List<SelectListItem> selectListItem = new List<SelectListItem>{

                                                        new SelectListItem { Text = "Restauarant", Value = "1" },
                                                        new SelectListItem { Text = "Theater", Value = "2" }

                                                };

                    }
                    @Html.DropDownListFor(model => model.Type, selectListItem, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })

                </div>
                <div class="col-sm-4">
                    @Html.LabelFor(model => model.OrgID, htmlAttributes: new { @class = "control-label  " })

                    @Html.DropDownListFor(model => model.OrgID, new SelectList(new HG_OrganizationDetails().GetAll(), "OrgID", "Name", Model.OrgID), "Select Organization Name", new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.OrgID, "", new { @class = "text-danger" })

                </div>

                <div class="col-sm-1">
                    @Html.Label("Save", new { @class = "text-white" })
                    <input type="submit" value="SaVe" class="btn btn-success " />
                </div>

            </div>
        }

    </div>
</div>