@model IEnumerable<HangOut.Models.HG_Floor_or_ScreenMaster>

@{
    Layout = null;
}
@using HangOut.Models
<div class="card">
    <div class="card-header">
        <h1 style="text-align:center"><b>FLOOR</b> </h1>
        <hr />
    </div>
    <button class="btn btn-success" onclick="CreateEdit('0')"><i class="fa fa-plus">ADD</i></button>
    <div class="card-body">
        <table class="table table-bordered table-hover w-100" id="TBLID">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Floor ID")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
                </thead>
            <tbody id="Tbody">
                @foreach (var item in Model)
                {
                    <tr id="@item.Floor_or_ScreenID">
                        <td>
                            @Html.DisplayFor(modelItem => item.Floor_or_ScreenID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <button class="btn btn-warning btn-sm " onclick="CreateEdit(@item.Floor_or_ScreenID)"> Edit</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function JsonSuccess(Jobj) {
        var Jitmobj = Jobj;
        var HtmlStr = "<tr id='" + Jitmobj.Floor_or_ScreenID+"'>";
        HtmlStr += '<td>' + Jitmobj.Floor_or_ScreenID+'</td>';
        HtmlStr += '<td>' + Jitmobj.Name+'</td>';
        HtmlStr += '<td><button class="btn btn-warning btn-sm " onclick="CreateEdit(' + Jitmobj.Floor_or_ScreenID+')"> Edit</button></td></tr>';
        $("#Tbody").append(HtmlStr);
    }

    function CreateEdit(ID) {
        $('#waiting').show();
        $.ajax({
            type: 'GET',
            url: "/HG_Floor_or_ScreenMaster/CreateEdit?ID="+ID+"",
            success: function (data) {
                makedpt("CreateFS");
                $("#CreateFS > .modal-dialog > .modal-content > .modal-body").html(data);
                showdpt("CreateFS");
                $('#waiting').hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $('#waiting').hide();
            }
        });

    }

</script>