@model IEnumerable<HangOut.Models.HG_Floor_or_ScreenMaster>

@{
    Layout = null;
}


    <div class="card">
        <div class="card-header card-header-color">
            <h3 style="text-align:center;color:white;">SCREEN</h3>
        </div>
        <div class="row">
            <div class="col-md-1">
                <div style="width:65px;margin-left:10px;">
                    <div style="width:100%">
                        <div class="btn blackBackground  " onclick="Seating();" style="margin-top:10px;border-radius:5px;" id="Current">
                            <div style="height:180px; ">
                                <h2 class="TextOrdCuurent">S</h2>
                                <h2 class="TextOrdCuurent">E</h2>
                                <h2 class="TextOrdCuurent">A</h2>
                                <h2 class="TextOrdCuurent">T</h2>
                            </div>
                        </div>
                        <div class="btn GreenClr " onclick="FLrScr();" style="margin-top:10px;border-radius:5px;" id="Current">
                            <div style="height:220px; ">
                                <h2 class="TextOrdCuurent">S</h2>
                                <h2 class="TextOrdCuurent">C</h2>
                                <h2 class="TextOrdCuurent">R</h2>
                                <h2 class="TextOrdCuurent">E</h2>
                                <h2 class="TextOrdCuurent">E</h2>
                                <h2 class="TextOrdCuurent">N</h2>
                            </div>
                        </div>
                        <div class="btn  blackBackground " onclick="SideRow();" id="Order" style="margin-top:10px;border-radius:5px;">
                            <div style="height:150px; margin-top:10px;">
                                <h2 class="TextOrdCuurent">R</h2>
                                <h2 class="TextOrdCuurent">O</h2>
                                <h2 class="TextOrdCuurent">W</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-11">
                <div class="card-body">
                    <table class="table table-bordered table-hover w-100" id="TBLID">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("Screen Id")
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="Tbody">
                            @foreach (var item in Model)
                            {
                                <tr id="@item.Floor_or_ScreenID">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Floor_or_ScreenID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>

                                    <td>
                                        <button onclick="CreateEdit(@item.Floor_or_ScreenID)" class="btn btn-warning btn-sm "><i class="fas fa-edit"></i></button>
                                        <button class="btn btn-danger btn-sm " onclick="Delete(@item.Floor_or_ScreenID)"> <i class="fas fa-archive"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
        <script>
            var AddTr = false;
            var AddTr = false;
            var AddNewBtn = '<button type="button" onclick="CreateEdit(0)" class="dt-button DataTbl "><i class="fa fa-plus" aria-hidden="true"></i>Add New</button>';
            var BulkUplad = ' <button  onclick="BULKEXCELUPL()" class="dt-button DataTbl">BULK UPLOAD</button>';
            AddBtn(AddNewBtn);
            AddBtn(BulkUplad);
            function JsonSuccess(Jobj) {
                if (Jobj.data != undefined && Jobj.data == '1') {
                    $('#waiting').hide();
                    alert('Uploaded');
                }
                else {

                    hidedpt("CreateScrn");
                    var Jitmobj = Jobj.data;
                    var HtmlStr = "<tr id='" + Jitmobj.Floor_or_ScreenID + "'>";
                    HtmlStr += '<td>' + Jitmobj.Floor_or_ScreenID + '</td>';
                    HtmlStr += '<td>' + Jitmobj.Name + '</td>';
                    HtmlStr += '<td><button class="btn btn-warning btn-sm " onclick="CreateEdit(' + Jitmobj.Floor_or_ScreenID + ')"><i class="fas fa-edit"></i></button>';
                    HtmlStr += '<button class="btn btn-danger btn-sm " onclick="Delete(' + Jitmobj.Floor_or_ScreenID + ')"> <i class="fas fa-archive"></i></button>';
                    HtmlStr += '</td ></tr >';
                    if (AddTr) {
                        $("#Tbody").append(HtmlStr);
                    }
                    else {
                        $('#' + Jitmobj.Floor_or_ScreenID).remove();
                        $("#Tbody").append(HtmlStr);
                    }

                    $('#waiting').hide();
                }
            }
            function CreateEdit(ID) {
                if (ID != "0") {
                    AddTr = false;
                } else {
                    AddTr = true;
                }
                $('#waiting').show();
                $.ajax({
                    type: 'GET',
                    url: "/HG_Floor_or_ScreenMaster/ScreenCreateEdit?ID=" + ID + "",
                    success: function (data) {
                        makedpt("CreateScrn");
                        $("#CreateScrn > .modal-dialog > .modal-content > .modal-body").html(data);
                        showdpt("CreateScrn");
                        $('#waiting').hide();
                    },
                    error: function (jqXhr, textStatus, errorMessage) { // error callback
                        $('#waiting').hide();
                    }
                });

            }
            function Delete(ID) {
                if (confirm('Are You Sure')) {
                    $('#waiting').show();
                    $.ajax({
                        type: 'GET',
                        url: "/HG_Floor_or_ScreenMaster/Delete?ID=" + ID,
                        success: function (data) {
                            //  var da = JSON.parse(data);
                            if (data.msg != null && data.msg != "") {
                                alert(data.msg);

                            }
                            else {
                                $("#" + ID).hide();
                            }
                            console.log(data);
                            $('#waiting').hide();
                        },
                        error: function (jqXhr, textStatus, errorMessage) { // error callback
                            console.log(errorMessage);
                            Onfail(errorMessage.MSG);
                            $('#waiting').hide();
                        }
                    });
                }

            }
            function BULKEXCELUPL() {
                $('#waiting').show();
                $.ajax({
                    type: 'GET',
                    url: "/HG_OrganizationDetails/Upload",
                    success: function (data) {
                        makedpt("CreateSheat");
                        $("#CreateSheat > .modal-dialog > .modal-content > .modal-body").html(data);
                        showdpt("CreateSheat");
                        $('#waiting').hide();
                    },
                    error: function (jqXhr, textStatus, errorMessage) { // error callback
                        $('#waiting').hide();
                    }
                });
            }
            function Seating() {
        $('#waiting').show();
        $.ajax({
            type: 'GET',
            url: "/HG_Tables_or_Sheat/SheetIndex?Type=2",
            success: function (data) {
                $("#DynamicData").html(data);
                $('#waiting').hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $('#waiting').hide();
            }
        });
    }
    function FLrScr() {
        $('#waiting').show();
        $.ajax({
            type: 'GET',
            url: "/HG_Floor_or_ScreenMaster/ScreenIndex?Type=2",
            success: function (data) {
                $("#DynamicData").html(data);
                $('#waiting').hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $('#waiting').hide();
            }
        });
    }
    function SideRow() {
       $('#waiting').show();
        $.ajax({
            type: 'GET',
            url: "/HG_FloorSide_or_RowName/RowIndex?Type=2",
            success: function (data) {
                $("#DynamicData").html(data);
                $('#waiting').hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $('#waiting').hide();
            }
        });
    }
        </script>

