@model IEnumerable<HangOut.Models.HG_FloorSide_or_RowName>

@{
    Layout = null;
}
@using HangOut.Models
@{ List<HG_OrganizationDetails> listorgonization = new HG_OrganizationDetails().GetAll();}
<div class="card">
    <div class="card-header">
        <h1 style="text-align:center"><b>FLOORSIDE  </b> </h1>
        <hr />
    </div>
    <a href="/HG_FloorSide_or_RowName/CreateEdit?ID=0" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting" class="btn btn-success"><i class="fa fa-plus">ADD</i></a>
    <div class="card-body">
        <table class="table table-bordered table-hover w-100" id="TBLID">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Floor ID")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RowSize)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model=>model.Type)
                    </th>
                    <th>
                        @Html.DisplayName("Orgonization")
                    </th>
                    <th></th>
                </tr>
                </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FloorSide_or_RowName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RowSize)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @{ HG_OrganizationDetails ObjOrg = listorgonization.Find(x => x.OrgID == item.OrgID);}
                            @ObjOrg.Name
                        </td>
                        <td>
                            <a href="/HG_FloorSide_or_RowName/CreateEdit?ID=@item.ID" class="btn btn-warning btn-sm " data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"> Edit</a>
                            <a href="/HG_FloorSide_or_RowName/Delete?ID=@item.ID" class="btn btn-danger btn-sm "> Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>
</div>