@model IEnumerable<HangOut.Models.HG_FloorSide_or_RowName>

@{
    Layout = null;
}
@using HangOut.Models
@{ List<HG_OrganizationDetails> listorgonization = new HG_OrganizationDetails().GetAll();}
<style>
    .btn:hover {
        background-color: #666;
        color: white;
    }
</style>
<div class="card">
    <div class="card-header">
        <h1 style="text-align:center"><b>SEATING</b> </h1>
        <button style="float:left;" onclick="BULKEXCELUPL()" class="btn btn-lg btn-info ">BULK UPLOAD</button>
        <button style="float:right !important;" onclick="DownloadExl()" class="btn btn-lg btn-info ">DOWNLOAD EXCEL</button>

    </div>
    <div class="row">
        <div class="col-md-4">
            <a a href="/HG_Tables_or_Sheat/Index?Type=1" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting" class="btn btn-success  form-control">TABLE</a>
        </div>
        <div class="col-md-4">
            <a href="/HG_Floor_or_ScreenMaster/Index?Type=1" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"  class="btn btn-success form-control">FLOOR</a>
        </div>
        <div class="col-md-4">
            <a href="/HG_FloorSide_or_RowName/Index?Type=1" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting" style="background-color: #666;" class="btn btn-success form-control">SIDE</a>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
                <button onclick="CreateEdit('0')" class="btn btn-info form-control">Add One</button>
            </div>
            <div class="col-md-5"></div>
        </div>
        <table class="table table-bordered table-hover w-100" id="TBLID">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Side")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="Tbody">
                @foreach (var item in Model)
                {
                    <tr id="@item.ID">
                        <td>
                            @Html.DisplayFor(modelItem => item.FloorSide_or_RowName)
                        </td>
                        <td>
                            <button class="btn btn-warning btn-sm " onclick="CreateEdit(@item.ID)">Edit</button>
                            <button class="btn btn-danger btn-sm " onclick="Delete(@item.ID)"> Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    function Delete(ID) {
        if (confirm('Are You Sure')) {
            $('#waiting').show();
            $.ajax({
                type: 'GET',
                url: "/HG_FloorSide_or_RowName/Delete?ID=" + ID,
                success: function (data) {
                    //  var da = JSON.parse(data);
                    if (data.msg != null && data.msg != "") {
                        alert(data.msg);

                    }
                    else {
                        $("#" + ID).hide();
                    }
                    console.log(data);
                    $('#waiting').hide();
                },
                error: function (jqXhr, textStatus, errorMessage) { // error callback
                    console.log(errorMessage);
                    Onfail(errorMessage.MSG);
                    $('#waiting').hide();
                }
            });
        }
    }
    var AddTr = false;
    function JsonSuccess(Jobj) {
        if (Jobj.data != undefined && Jobj.data == '1') {
            $('#waiting').hide();
            alert('Uploaded');
        }
        else {
            hidedpt("CreateFS");
            var Jitmobj = Jobj.data;
            var HtmlStr = "<tr id='" + Jitmobj.ID + "'>";
            HtmlStr += '<td>' + Jitmobj.FloorSide_or_RowName + '</td>';
            HtmlStr += '<td><button class="btn btn-warning btn-sm " onclick="CreateEdit(' + Jitmobj.ID + ')"> Edit</button>';
            HtmlStr += '<button class="btn btn-danger btn-sm " onclick="Delete(' + Jitmobj.ID + ')"> Delete</button>';
            HtmlStr += '</td ></tr >';
            if (AddTr) {
                $("#Tbody").append(HtmlStr);
            }
            else {
                $('#' + Jitmobj.ID).remove();
                $("#Tbody").append(HtmlStr);
            }

            $('#waiting').hide();
        }
    }

    function CreateEdit(ID) {
        if (ID != "0") {
            AddTr = false;
        } else {
            AddTr = true;
        }
        $('#waiting').show();
        $.ajax({
            type: 'GET',
            url: "/HG_FloorSide_or_RowName/CreateEdit?ID=" + ID + "",
            success: function (data) {
                makedpt("CreateFS");
                $("#CreateFS > .modal-dialog > .modal-content > .modal-body").html(data);
                showdpt("CreateFS");
                $('#waiting').hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $('#waiting').hide();
            }
        });

    }
    function BULKEXCELUPL() {
        $('#waiting').show();
        $.ajax({
            type: 'GET',
            url: "/HG_OrganizationDetails/Upload",
            success: function (data) {
                makedpt("CreateSheat");
                $("#CreateSheat > .modal-dialog > .modal-content > .modal-body").html(data);
                showdpt("CreateSheat");
                $('#waiting').hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $('#waiting').hide();
            }
        });
    }
    function DownloadExl() {
        if (confirm('Are You Sure')) {
            $('.buttons-excel').click();
        }

    }
</script>
