@model IEnumerable<HangOut.Models.HG_FloorSide_or_RowName>

@{
    Layout = null;
}
@using HangOut.Models

<div class="card">
    <div class="card-header">
        <h1 style="text-align:center"><b> ROW NAME</b> </h1>
        <hr />
    </div>
    <a href="/HG_FloorSide_or_RowName/RowCreateEdit?ID=0" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting" class="btn btn-success"><i class="fa fa-plus">ADD</i></a>
    <div class="card-body">
        <table class="table table-bordered table-hover w-100" id="TBLID">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Row ")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RowSize)
                    </th>
                   
                   
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.ID">
                        <td>
                            @Html.DisplayFor(modelItem => item.FloorSide_or_RowName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RowSize)
                        </td>
                        
                        <td>
                            <a href="/HG_FloorSide_or_RowName/RowCreateEdit?ID=@item.ID" class="btn btn-warning btn-sm " data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"> Edit</a>
                            <button class="btn btn-danger btn-sm " onclick="Delete(@item.ID)"> Delete</button>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    function Delete(ID) {
        if (confirm('Are You Sure')) {
            $('#waiting').show();
            $.ajax({
                type: 'GET',
                url: "/HG_FloorSide_or_RowName/Delete?ID=" + ID,
                success: function (data) {
                    //  var da = JSON.parse(data);
                    if (data.msg != null && data.msg != "") {
                        alert(data.msg);

                    }
                    else {
                        $("#" + ID).hide();
                    }
                    console.log(data);
                    $('#waiting').hide();
                },
                error: function (jqXhr, textStatus, errorMessage) { // error callback
                    console.log(errorMessage);
                    Onfail(errorMessage.MSG);
                    $('#waiting').hide();
                }
            });
        }
    }
</script>
