@model IEnumerable<HangOut.Models.HG_FloorSide_or_RowName>

@{
    Layout = null;
}
@using HangOut.Models

<div class="card">
    <div class="card-header">
        <h1 style="text-align:center"><b> ROW NAME</b> </h1>
        <hr />
    </div>
    <button onclick="CreateEdit('0')" class="btn btn-success"><i class="fa fa-plus">ADD</i></button>
    <div class="card-body">
        <table class="table table-bordered table-hover w-100" id="TBLID">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Row ")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RowSize)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="Tbody">
                @foreach (var item in Model)
                {
                    <tr id="@item.ID">
                        <td>
                            @Html.DisplayFor(modelItem => item.FloorSide_or_RowName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RowSize)
                        </td>
                        <td>
                            <button class="btn btn-warning btn-sm " onclick="CreateEdit(@item.ID)"> Edit</button>
                            <button class="btn btn-danger btn-sm " onclick="Delete(@item.ID)"> Delete</button>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    function Delete(ID) {
        if (confirm('Are You Sure')) {
            $('#waiting').show();
            $.ajax({
                type: 'GET',
                url: "/HG_FloorSide_or_RowName/Delete?ID=" + ID,
                success: function (data) {
                    //  var da = JSON.parse(data);
                    if (data.msg != null && data.msg != "") {
                        alert(data.msg);

                    }
                    else {
                        $("#" + ID).hide();
                    }
                    console.log(data);
                    $('#waiting').hide();
                },
                error: function (jqXhr, textStatus, errorMessage) { // error callback
                    console.log(errorMessage);
                    Onfail(errorMessage.MSG);
                    $('#waiting').hide();
                }
            });
        }
    }
    var AddTr = false;
    function JsonSuccess(Jobj) {
        hidedpt("CreateScrn");
        var Jitmobj = Jobj.data;
        var HtmlStr = "<tr id='" + Jitmobj.ID + "'>";
        HtmlStr += '<td>' + Jitmobj.FloorSide_or_RowName + '</td>';
        HtmlStr += '<td>' + Jitmobj.RowSize + '</td>';
        HtmlStr += '<td><button class="btn btn-warning btn-sm " onclick="CreateEdit(' + Jitmobj.ID + ')"> Edit</button>';
        HtmlStr += '<button class="btn btn-danger btn-sm " onclick="Delete(' + Jitmobj.ID + ')"> Delete</button>';
        HtmlStr += '</td ></tr >';
        if (AddTr) {
            $("#Tbody").append(HtmlStr);
        }
        else {
            $('#' + Jitmobj.ID).remove();
            $("#Tbody").append(HtmlStr);
        }

        $('#waiting').hide();
    }

    function CreateEdit(ID) {
        if (ID != "0") {
            AddTr = false;
        } else {
            AddTr = true;
        }
        $('#waiting').show();
        $.ajax({
            type: 'GET',
            url: "/HG_FloorSide_or_RowName/RowCreateEdit?ID=" + ID + "",
            success: function (data) {
                makedpt("CreateScrn");
                $("#CreateScrn > .modal-dialog > .modal-content > .modal-body").html(data);
                showdpt("CreateScrn");
                $('#waiting').hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $('#waiting').hide();
            }
        });

    }

</script>
