@model IEnumerable<HangOut.Models.Account.Ledger>
@using HangOut.Models.Account;
@{

    Layout = null;
}

<div class="card">

    <div class="card-header">
        <h3 class="text-center">Ledger</h3>
    </div>
    <div class="col-md-2">
        <button onclick="CreateEdit('0')" class="btn btn-info form-control">Add Ledger</button>
    </div>
    <div class="card-body">
        <table class="table" id="TBLID" style="width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.PGID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Type)
                        </th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody id="Tbody">
                @foreach (Ledger Obj in Model)
                {
                    <tr id="@Obj.ID">
                        <td>@Obj.ID</td>
                        <td>@Obj.Name</td>
                        @*<td>@Obj.PGID</td>
                            <td>@Obj.Type</td>*@
                        <td>
                            <button class="btn btn-warning btn-sm " onclick="CreateEdit(@Obj.ID)"> Edit</button>
                            <button class="btn btn-danger btn-sm " onclick="Delete(@Obj.ID)"> Delete</button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>
</div>
<script>
    var AddLeader = false;
    function Delete(ID) {
        if (confirm('Are You Sure')) {
            $('#waiting').show();
            $.ajax({
                type: 'GET',
                url: "/Leader/Delete?ID=" + ID,
                success: function (data) {
                    //  var da = JSON.parse(data);
                    if (data.msg != null && data.msg != "") {
                        alert(data.msg);

                    }
                    else {
                        $("#" + ID).hide();
                    }
                    console.log(data);
                    $('#waiting').hide();
                },
                error: function (jqXhr, textStatus, errorMessage) { // error callback
                    console.log(errorMessage);
                    Onfail(errorMessage.MSG);
                    $('#waiting').hide();
                }
            });
        }
    }
    function CreateEdit(ID) {
        if (ID != "0") {
            AddLeader = false;
        } else {
            AddLeader = true;
        }
        $.ajax({
            type: 'GET',
            url: "/Leader/CreateEdit?ID=" + ID,
            success: function (data) {
                makedpt("Leader");
                $("#Leader > .modal-dialog > .modal-content > .modal-body").html(data);
                showdpt("Leader");
                $('#waiting').hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $('#waiting').hide();
            }
        });

    }
    function JsonSuccess(Jobj) {

        var Jitmobj = Jobj.data;
        console.log(Jitmobj);
        hidedpt("Leader");
        $('#waiting').hide();
        var HtmlStr = "<tr id='" + Jitmobj.ID + "'>";
        HtmlStr += '<td>' + Jitmobj.ID + '</td>';
        HtmlStr += '<td>' + Jitmobj.Name + '</td>';
      

        HtmlStr += '<td><button class="btn btn-warning btn-sm " onclick="CreateEdit(' + Jitmobj.ID + ')"> Edit</button>';
        HtmlStr += '<button class="btn btn-danger btn-sm " onclick="Delete(' + Jitmobj.ID
        HtmlStr += ')"> Delete</button></td ></tr > ';
        if (AddLeader) {
            $("#Tbody").append(HtmlStr);
        }
        else {
            $('#' + Jitmobj.ID).remove();
            $("#Tbody").append(HtmlStr);
        }
    }

</script>
