@model HangOut.Models.Account.JournalEntry
@using HangOut.Models.Common
@using HangOut.Models.Account;
@{ 
    Layout = null;
}

<div class="row GetEntryData" id="CreateCopy">

    @{
        <div class="col-md-1">
            @Html.Label("Type")
            @Html.DropDownListFor(model => model.Entrytype, new SelectList(JournalEntry.JType(), "ID", "Name", Model.AID), "Select", new { @class = "form-control Type", @onchange = "TypeChange(this)", required = "required" })
            @Html.ValidationMessageFor(model => model.Entrytype, "", new { @class = "text-danger" })

        </div>
    }

    @{
        <div class="col-md-3 Credit1">

            @Html.Label("Account")
            @Html.DropDownListFor(model => model.CRLedgerId, new SelectList(Ledger.GetAll(), "ID", "Name", Model.AID), "Select", new { @class = "form-control CRAccount", required = "required" })
            @Html.ValidationMessageFor(model => model.CRLedgerId, "", new { @class = "text-danger" })

        </div>
    }
    @{
        <div class="col-md-3 Debit1">

            @Html.Label("Account")
            @Html.DropDownListFor(model => model.DRLedgerId, new SelectList(Ledger.GetAll(), "ID", "Name", Model.AID), "Select", new { @class = "form-control DRAccount", required = "required" })
            @Html.ValidationMessageFor(model => model.DRLedgerId, "", new { @class = "text-danger" })

        </div>
    }
    <div class="col-md-2">
        <span id="Debit2">
            @Html.LabelFor(model => model.Debit, htmlAttributes: new { @class = "control-label  " })

            @Html.EditorFor(model => model.Debit, new { htmlAttributes = new { @class = "form-control Debit", id = "drid" } })
            @Html.ValidationMessageFor(model => model.Debit, "", new { @class = "text-danger" })
        </span>
    </div>
    <div class="col-md-2">
        <span id="Credit2">
            @Html.LabelFor(model => model.Credit, htmlAttributes: new { @class = "control-label  " })

            @Html.EditorFor(model => model.Credit, new { htmlAttributes = new { @class = "form-control Credit", id = "cid" } })
            @Html.ValidationMessageFor(model => model.Credit, "", new { @class = "text-danger" })
        </span>
    </div>
    <div class="col-md-1">
        @*@Html.Label("Add", new { @class = "text-white" })
            <input style="margin-top:25px" onclick="NewAddOn()" value="Add" class="btn btn-success" />*@
        <i style="margin-top:35px;font-size:x-large;" class="fa fa-plus-circle" onclick="NewAddOn()"></i>

    </div>
</div>
<script>
    $('.Credit1').hide();
    $('.Debit1').show();
</script>