@model IEnumerable<HangOut.Models.HG_Tables_or_Rows>
@using HangOut.Models.Common;
@{
    Layout = null;
}
@using HangOut.Models
@{ List<HG_FloorSide_or_RowName> listfloor = new HG_FloorSide_or_RowName().GetAll(1);}
@{ List<HG_OrganizationDetails> listorgonization = new HG_OrganizationDetails().GetAll(1);}
@{ List<HG_Floor_or_ScreenMaster> listscreen = new HG_Floor_or_ScreenMaster().GetAll(1);}
 <div class="card">
    <div class="card-header">
        <h1 style="text-align:center"><b>TABLES</b> </h1>
        <hr />
    </div>
    <a href="/HG_Tables_or_Rows/CreateEdit?ID=0" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting" class="btn btn-success"><i class="fa fa-plus">ADD</i></a>
    <div class="card-body">
        <table class=" table table-bordered table-hover w-100" id="TBLID">
            <thead>
                <tr>
                    <th>Qr Code</th>
                    <th>
                        @Html.DisplayName("Table Code")
                    </th>
                    <th>
                        @Html.DisplayName("Organization ")
                    </th>
                    <th>
                        @Html.DisplayName("Table Name")
                    </th>
                    <th>
                        @Html.DisplayName("Floor Number")
                    </th>
                    <th>
                        @Html.DisplayName("Floor Side")
                    </th>
                     
                   
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    string ImgName = QrCode.GenerateQr(item.Table_or_RowID,Path: "QRImgTorR");
                    <tr>
                        <td><img src="~/QRImgTorR/@ImgName" width="60" height="60"/></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Table_or_RowID)
                        </td>
                        <td>
                            @{ HG_OrganizationDetails Objorg = listorgonization.Find(x => x.OrgID == item.OrgId);}
                            @Objorg.Name
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Table_or_RowName)
                        </td>
                        <td>
                            @{ HG_Floor_or_ScreenMaster ObjScreen = listscreen.Find(x => x.Floor_or_ScreenID == item.Floor_or_ScreenId);}
                            @ObjScreen.Name
                        </td>
                        <td>
                             @{ HG_FloorSide_or_RowName Objfloor = listfloor.Find(x => x. ID == item.FloorSide_or_RowNoID);}
                            @Objfloor.FloorSide_or_RowName
                        </td>
                        <td>
                            <a href=" /HG_Tables_or_Rows/CreateEdit?ID=@item.Table_or_RowID" class="btn btn-warning btn-sm " data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting" > Edit</a>
                            <a href="/HG_Tables_or_Rows/Delete?ID=@item.Table_or_RowID" class="btn btn-danger btn-sm "> Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>