@model IEnumerable<HangOut.Models.HG_OrganizationDetails>
@{
    Layout = null;
}
<div class=" card">
    <div class="card-header">
        <h1 style="text-align:center"><b>ORGONIZATION</b> </h1>
        <hr />
    </div>
    <a href="/HG_OrganizationDetails/CreateEdit?ID=0" class="btn btn-success" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"><i class="fa fa-plus">ADD</i></a>
    <div class="card-body">


        <table class="table table-bordered table-hover w-100" id="TBLID">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OrgID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrgTypes)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HeadName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    
                   
                    <th>
                        @Html.DisplayNameFor(model => model.WebSite)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.GSTNO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PANNO)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BankName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ACNO)
                    </th>
                  

                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrgID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrgTypes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HeadName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.WebSite)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GSTNO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PANNO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BankName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ACNO)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            <a href=" /HG_OrganizationDetails/CreateEdit?ID=@item.OrgID" class="btn btn-warning btn-sm "data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting" > Edit</a>
                            <a href="/HG_OrganizationDetails/Delete?ID=@item.OrgID" class="btn btn-danger btn-sm "> Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>