@model IEnumerable<HangOut.Models.HG_OrganizationDetails>
    @using HangOut.Models.DynamicList;
@{
    Layout = null;
    
}
<div class=" card">
    <div class="card-header">
        <h3 style="text-align:center"><b>Details</b> </h3>
        <hr />
    </div>
    @if (new OrderType().IsAccess())
    {
        <a href="/HG_OrganizationDetails/CreateEdit?ID=0" class="btn btn-success" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"><i class="fa fa-plus">ADD</i></a>
    }
    <div class="card-body">


        <table class="table table-bordered table-hover w-100" id="TBLID">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OrgID)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.HeadName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GSTNO)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.BankName)
                    </th>
                    <th>Setting</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>


                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrgID)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.HeadName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                     
                        <td>
                            @Html.DisplayFor(modelItem => item.GSTNO)
                        </td>
                      
                        <td>
                            @Html.DisplayFor(modelItem => item.BankName)
                        </td>
                        <td>
                            <a href=" /HG_OrganizationDetails/PrintSetup?Id=@item.OrgID" class="btn btn-success btn-sm" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting">Print</a>
                            <button class="btn  btn-info btn-sm" onclick="CreateEditSetting(@item.OrgID)">Order </button>
                        </td>
                        <td>
                            <a href=" /HG_OrganizationDetails/CreateEdit?ID=@item.OrgID" class="btn btn-warning btn-sm " data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"> Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function CreateEditSetting(ID) {
        $('#waiting').show();
        $.ajax({
            type: 'GET',
            url: "/HG_OrganizationDetails/OrgSettingEdit?OrgId=" + ID,
            success: function (data) {
                makedpt("CreateSetting");
                $("#CreateSetting > .modal-dialog > .modal-content > .modal-body").html(data);
                showdpt("CreateSetting");
                $('#waiting').hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $('#waiting').hide();
            }
        });

    }
    function JsonSuccess(Jobj) {
        hidedpt("CreateSetting");
        $('#waiting').hide();
    }

</script>