@model IEnumerable<HangOut.Models.HG_Items>
@using HangOut.Models
@{
    Layout = null;
    var CatId = Request.QueryString["CatId"];
}


<div class="card">
    <div class="card-header">
        <h3 style="text-align:center"><b>Addon Items</b> </h3>
        <hr />
    </div>
    <button onclick="CreateAddOnItm(@CatId)" class="btn btn-success"><i class="fa fa-plus">ADD</i></button>
    <div class="card-body">
        <table class="table " id="TBLID2">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Items)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>@Html.DisplayNameFor(model=>model.Tax)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="Tbody">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Items)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        
                        <td>
                            <a href=" /HG_Items/CreateEdit?ID=@item.ItemID" class="btn btn-warning btn-sm " data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"> Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    function CreateAddOnItm(CatId) {

        $('#waiting').show();
        $.ajax({
            type: 'GET',
            url: "/HG_Items/CreateEditAddOn?ID=0&CatId=" + CatId,
            success: function (data) {
                makedpt("AddOnCreate");
                $("#AddOnCreate > .modal-dialog > .modal-content > .modal-body").html(data);
                showdpt("AddOnCreate");
                $('#waiting').hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $('#waiting').hide();
            }
        });


    }
    
    var AddOnresult = function (data) {
        var JsonObj = JSON.parse(data);
        console.log(JsonObj);

        var Htmlstr = '<tr>';
        Htmlstr += Htmlstr + '<td>' + JsonObj.Items + '</td>';
        Htmlstr += Htmlstr + '<td>' + JsonObj.Price + '</td>';
        Htmlstr += Htmlstr + '<td>' + JsonObj.Tax + '</td>';
        Htmlstr += Htmlstr + '<td>' + JsonObj.Tax + '</td>';
        };


</script>