@model IEnumerable<HangOut.Models.HG_Items>
   @using HangOut.Models
@{
    Layout = null;
}
@{ List<HG_Category> listitems = new HG_Category().GetAll();}

<div class="card">
    <div class="card-header">
        <h3 style="text-align:center"><b>ITEM</b> </h3>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-2">
            <button onclick="CreateEdit('0')" class="btn btn-success form-control">ADD ITEM</button>
        </div>
        <div class="col-md-2">
            <button onclick="AddCategory('0')" class="btn btn-success form-control">ADD CATEGORY</button>
        </div>
        <div class="col-md-2">
            <button onclick="BULKEXCELUPL()" class="btn btn-success form-control">BULK UPLOAD</button>
        </div>
        <div class="col-md-2">
            <button onclick="DownloadExl()" class="btn btn-success form-control">DOWNLOAD EXCEL</button>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover w-100" id="TBLID">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Category Name")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Items)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="Tbody">
                @foreach (var item in Model)
                {
                    <tr id="@item.ItemID">
                        <td>
                            @{HG_Category objcategory = listitems.Find(x => x.CategoryID == item.CategoryID); }
                            @objcategory.Category
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Items)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            <button class="btn btn-warning btn-sm " onclick="CreateEdit(@item.ItemID)"> Edit</button>
                            <button class="btn btn-danger btn-sm " onclick="Delete(@item.ItemID)"> Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function Delete(ID) {
        if (confirm('Are You Sure')) {
            $('#waiting').show();
            $.ajax({
                type: 'GET',
                url: "/HG_Items/Delete?ID=" + ID,
                success: function (data) {
                    //  var da = JSON.parse(data);
                    if (data.msg != null && data.msg != "") {
                        alert(data.msg);

                    }
                    else {
                        $("#" + ID).hide();
                    }
                    console.log(data);
                    $('#waiting').hide();
                },
                error: function (jqXhr, textStatus, errorMessage) { // error callback
                    console.log(errorMessage);
                    Onfail(errorMessage.MSG);
                    $('#waiting').hide();
                }
            });
        }

    }
    var AddTr = false;
    function JsonSuccess(Jobj) {
        if (Jobj.data != undefined && Jobj.data == '1') {
            $('#waiting').hide();
            alert('Uploaded');
        }
        else {
            hidedpt("CreateItem");
            $('#waiting').hide();
            var Jitmobj = Jobj.data;
            if (Jitmobj.ItemID != 'undefined' && Jitmobj.ItemID != null) {
                var HtmlStr = "<tr id='" + Jitmobj.ItemID + "'>";
                HtmlStr += '<td>' + Jitmobj.Categoryname + '</td>';
                HtmlStr += '<td>' + Jitmobj.Items + '</td>';
                HtmlStr += '<td>' + Jitmobj.Price + '</td>';
                HtmlStr += '<td><button class="btn btn-warning btn-sm " onclick="CreateEdit(' + Jitmobj.ItemID + ')"> Edit</button>';
                HtmlStr += '<button class="btn btn-danger btn-sm " onclick="Delete(' + Jitmobj.ItemID + ')"> Delete</button></td ></tr > ';
                if (AddTr) {
                    $("#Tbody").append(HtmlStr);
                }
                else {
                    $('#' + Jitmobj.ItemID).remove();
                    $("#Tbody").append(HtmlStr);
                }
            }
        }
    }
    function CreateEdit(ID) {
        if (ID != "0") {
            AddTr = false;
        } else {
            AddTr = true;
        }
        $('#waiting').show();
        $.ajax({
            type: 'GET',
            url: "/HG_Items/CreateEdit?ID=" + ID,
            success: function (data) {
                makedpt("CreateItem");
                $("#CreateItem > .modal-dialog > .modal-content > .modal-body").html(data);
                showdpt("CreateItem");
                $('#waiting').hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $('#waiting').hide();
            }
        });

    }
    function BULKEXCELUPL() {
        //$('#waiting').show();
        //$.ajax({
        //    type: 'GET',
        //    url: "/HG_OrganizationDetails/Upload",
        //    success: function (data) {
        //        makedpt("CreateSheat");
        //        $("#CreateSheat > .modal-dialog > .modal-content > .modal-body").html(data);
        //        showdpt("CreateSheat");
        //        $('#waiting').hide();
        //    },
        //    error: function (jqXhr, textStatus, errorMessage) { // error callback
        //        $('#waiting').hide();
        //    }
        //});
    }
    function AddCategory() {


    }
    function DownloadExl() {
        if (confirm('Are You Sure')) {
            $('.buttons-excel').click();
        }

    }
</script>