@model IEnumerable<HangOut.Models.HG_Items>
@using HangOut.Models
@using HangOut.Models.DynamicList
@{
    Layout = null;
}

<div class="card-body">
    <table class="table table-hover w-100" id="TBLID">
        <thead>
            <tr>
               
                <th>
                    @Html.DisplayNameFor(model => model.Items)
                </th>
                <th>
                    @Html.DisplayName("Last Modified")
                </th>
                <th>
                    @Html.DisplayName("Item Avaibility")
                </th>
                
            </tr>
        </thead>
        <tbody id="Tbody">
            @foreach (var item in Model)
            {
                <tr id="@item.ItemID">
                  
                    <td>
                        @Html.DisplayFor(modelItem => item.Items)
                    </td>
                    <td>
                        @item.UpdateDate.ToString("dd/MM/yyyy")
                    </td>
                    @{ string title = "Click To Item Unavailable";
                        string ChekSts = "checked";
                        if (item.ItemAvaibility ==1)
                        {
                            title = "Click To Item available";
                            ChekSts = "";
                        }
                    }
                    <td>
                        <label class="switch" data-toggle="tooltip" title="@title">
                            <input type="checkbox" @ChekSts id="@item.ItemID" onchange="ChangeItmAvble(this)">
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function ChangeItmAvble(event) {
            //  var Status = $(event).val();
        var ItemId = $(event).attr('id');
            var checkStst = false;
            if (event.checked) {
                checkStst = true;
                $(event).attr('checked', true);
            }
            else {
                $(event).prop('checked', false);
            }
            $.ajax({
                url: "/WebApi/ChangeItemAvability?ItemId="+ItemId+"&Status=" + checkStst,
                type: "GET",
                success: function (data) {
                    // alert("AAYA");
                    // window.location = "/vw_HG_UsersDetails/vw_HG_UsersDetails";
                },
                error: function (Xr, Status, ErrorMsg) {

                }
            });
    }
</script>
