@model HangOut.Models.MyCustomer.OfferTitle

@{
    Layout = null;
}

<div class="card">
    <div class="card-header">
        <h3 style="text-align:center;color:#000000"><b>Offer Item</b></h3>
        <hr />
    </div>
    <div class="card-body">
        @using (Ajax.BeginForm("SaveOfferItem", "ComplemetryOffer", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "waiting", OnSuccess = "OnSuccess" }))
        {
            @Html.HiddenFor(model => model.CBID)
            <div class="row">
                <div class="col-md-5">
                </div>
                <div class="col-md-2">
                    @Html.Label("Display Name")
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control " })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-5">
                </div>
            </div>
            for (int i = 0; i < Model.OfferMenus.Count; i++)
            {
                @Html.Partial("OfferMenu", Model.OfferMenus[i])
            }
            <div id="AppendItem">

            </div>
            <div class="row">
                <div class="col-md-5">
                </div>
                <div class="col-md-2" id="btn">
                    <a title="Add Item" class="btn btn-success form-control" onclick="ShowItemsToOrder();"> <i class="fa fa-plus"></i></a>
                </div>
                <div class="col-md-5">
                </div>
            </div>
            <div class="col-md-1" style="margin-top:5px;">
                @Html.Label("Save", new { @class = "text-white" })
                <input type="submit" value="Next" class="btn btn-success form-control" />
            </div>
        }
    </div>

</div> 