@model HangOut.Models.MyCustomer.OfferObj

@{
    Layout = null;
}

    <div class="card">
        <div class="card-header">
            <h3 style="text-align:center;color:#000000"><b>Complementry Item</b></h3>
            <hr />
        </div>
        <div class="card-body">
            @using (Ajax.BeginForm("SaveOfferItem", "ComplemetryOffer", new AjaxOptions { HttpMethod = "POST", LoadingElementId = "waiting", OnSuccess = "OnSuccess" }))
            {
                @Html.HiddenFor(model=>model.CBID)
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-1">
                        @Html.Label("Min Item")
                        @Html.TextBoxFor(model => model.Min, new { @class = "form-control " })
                        @Html.ValidationMessageFor(model => model.Min, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-1">
                        @Html.Label("Max Item")
                        @Html.TextBoxFor(model => model.Max, new { @class = "form-control " })
                        @Html.ValidationMessageFor(model => model.Max, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
                for (int i = 0; i < Model.itemOffers.Count; i++)
                {
                    @Html.Partial("OfferItm", Model.itemOffers[i])
                }
                <div id="AppendItem">

                </div>
                <div class="row">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-2" id="btn">
                        <a title="Add Item" class="btn btn-success form-control" onclick="ShowItemsToOrder();"> <i class="fa fa-plus"></i></a>
                    </div>
                    <div class="col-md-5">
                    </div>
                </div>
                <div class="col-md-1" style="margin-top:5px;">
                    @Html.Label("Save", new { @class = "text-white" })
                    <input type="submit" value="Next" class="btn btn-success form-control" />
                </div>
            }
        </div>
        
    </div> 
    
   <script>
       function ShowItemsToOrder() {
        $("#waiting").show();
        $.ajax({
            type: 'GET',
            url: "/HG_Items/AddItemToOrder",
            success: function (data) {
                makedpt("ShowItems", 600, 600);
                $("#ShowItems > .modal-dialog > .modal-content > .modal-body").html(data);
                showdpt("ShowItems");
                $("#waiting").hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $("#waiting").hide();
            }
        });
    }
       function AddItem(event, ItemId) {
           
       if (event.checked) {
            var ItemsAlreadyAdded = document.getElementsByClassName('ItemId');
           for (var i = 0; i < ItemsAlreadyAdded.length; i++) {
               var ObjItem = $(ItemsAlreadyAdded[i]);
               if (ObjItem.val() == ItemId) {
                   alert('Item Already Added');
                   $(event).click();
                   return;
                   
               }
           }
       $.ajax({
            type: 'GET',
            url: "/ComplemetryOffer/AddOfrItem?Itemid="+ItemId,
            success: function (data) {
                $("#AppendItem").append(data);
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $("#waiting").hide();
            }
        });
        }

       }
       function RemoveItem(itemid,event) {
           $(event).parent('div').parent('div').find('.IsDeleted').val('1');
           $(event).parent('div').parent('div').hide();
       }
   </script>
