@using HangOut.Models.Common;
@using HangOut.Models;
@{ 
    var UserType = Request.Cookies["UserInfo"]["UserType"];
    string OrgName = "SUPER-ADMIN";
    int Orgid =int.Parse(Request.Cookies["UserInfo"]["OrgId"]);
    string OrgType = "0";
    HG_OrganizationDetails ObgOrg = new HG_OrganizationDetails().GetOne(Orgid);
    string CustomerOrdrn = "";
    if (ObgOrg.OrgID > 0)
    {
        OrgName = ObgOrg.Name;
        OrgType = ObgOrg.OrgTypes;
    }
    if (ObgOrg.CustomerOrdering)
    {
        CustomerOrdrn = "checked";
    }
    if (Orgid == 0)
    {
        OrgName = "PREPAID-SUPER-ADMIN";
    }
    if (Orgid < 0)
    {
        OrgName = "POSTPAID-SUPER-ADMIN";
    }
}
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 28px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 20px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>
<!-- header -->
@Html.Hidden("OrgIdHead", Orgid)
<header class="navbar navbar-expand-sm text-white w-100 p-0" style="background-image: linear-gradient(to right top, #33bb6f, #30bb66, #30bb5b, #31bb50, #33bb44);z-index:1;">
    <div class="col-md-3 col-12 text-md-left text-center mt-0">
        <a class="text-white navbar-brand pl-3" style="font-size:15px;">foodDo</a>
        <a href="#" id="toggle-admin-menu" class="text-white ml-md-4"><i class="fa fa-bars border border-secondary rounded" style="font-size:17px;padding:4px 6px;"></i></a>
        @if (UserType == "SA")
        {
            <a href="#" onclick="showvideo();" class="text-white ml-md-4"><i class="fas fa-chalkboard-teacher border border-secondary rounded" style="font-size:17px;padding:4px 6px;"></i></a>
        }

    </div>
    <div class="col-md-6 col-12  text-center mt-0" style="overflow:hidden">
        <a class="text-white text-center navbar-brand pl-3" style="font-size:32px;font-weight:bold;">@OrgName</a>
    </div>
    <div class="col-md-3 col-12  text-md-right text-center p-md-2 p-2  mt-0">
        <label class="switch" data-toggle="tooltip" title="Allow Customer Ordering">
            <input type="checkbox" @CustomerOrdrn onchange="SetCustmrOrd(this)">
            <span class="slider round"></span>
        </label>
        @if (UserType == "SA")
        {

            <a class="btn btn-lg text-white " href="/vw_HG_UsersDetails/Inventry"><i class="fas fa-truck-moving"></i></a>
            <a class="btn btn-lg text-white " href="/vw_HG_UsersDetails/Account"><i class="fas fa-rupee-sign"></i></a>
        }

        <div class="btn-group mt-0">
            <button class="btn btn-lg text-white " onclick="MakeOrder()"><i class="fas fa-laptop"></i></button>
            <a href="#" class="text-white m-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-sign-out-alt border border-secondary rounded" style="font-size:17px;padding:4px 6px;"></i></a>
            <div class="dropdown-menu dropdown-menu-right text-center pb-0">
                <h6 class="mt-2 mb-2">@Request.Cookies["UserInfo"]["UserName"]</h6>
                <button id="logoutbtn" class="btn btn-sm btn-block btn-dark mt-1 nav-item"><i class="fa fa-lock"> Sign Out</i> </button>
                <style>
                    #logoutbtn > i:hover {
                        border: none !important;
                        background: none !important;
                    }
                </style>
            </div>
        </div>

    </div>
</header>

<div class="row">

    <!-- admin side menus -->
    <div id="admin-side-menu" class="col-md-2 col-12  ml-sm-auto m-0 p-0 " style="background-image: linear-gradient(to right top, #5de79a, #5de79a, #5de79a, #5de79a, #5de79a);">
        <ul id="myaccordion" class="list-unstyled mb-0 ">
            @{
                List<UsersMenu> List = new UsersMenu().GetAll();
                List = List.FindAll(x => x.MenuOrderNo != 400);
                List<UsersMenu> ADMINMenuList = List.FindAll(x => x.Section == "ADMIN" && x.ParentMenuId == 0);
                if (UserType != "SA" && UserType != "A")
                {
                    ADMINMenuList = ADMINMenuList.FindAll(x => x.User_Types.Contains(UserType));
                    if (OrgType == "2")
                    {
                        List = List.FindAll(x => !x.MenuLink.Equals("/HG_Tables_or_Sheat/Index?Type=1"));
                    }
                    else
                    {
                        List = List.FindAll(x => !x.MenuLink.Equals("/HG_Tables_or_Sheat/SheetIndex?Type=2"));
                    }
                }
                ADMINMenuList = ADMINMenuList.OrderBy(x => x.MenuOrderNo).ToList();
                List<UsersMenu> AdminSubMenuList = List.FindAll(x => x.Section == "ADMIN" && x.ParentMenuId != 0);
                if (UserType != "SA" && UserType != "A")
                {
                    AdminSubMenuList = AdminSubMenuList.FindAll(x => x.User_Types.Contains(UserType));
                }
                foreach (var ObjMenuLi in ADMINMenuList)
                {
                    if (ObjMenuLi.MenuLink != null && ObjMenuLi.MenuLink != "")
                    {
                        <li class="nav-item" data-parent="#myaccordion">
                            <a class="nav-link" href="@ObjMenuLi.MenuLink" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"><i class="@ObjMenuLi.Menu_Icon"></i>@ObjMenuLi.MenuDisplayName</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link have-sub-menu collapsed" href="#" data-target="#ID@(ObjMenuLi.Menu_Id)" data-toggle="collapse">
                                <i class="fa fa-desktop-alt"></i>@ObjMenuLi.MenuDisplayName<span class="fa fa-plus"></span>
                            </a>
                            <ul id="ID@(ObjMenuLi.Menu_Id)" class="collapse list-unstyled" data-parent="#myaccordion">
                                @{
                                    List<UsersMenu> ChileMenus = AdminSubMenuList.FindAll(x => x.ParentMenuId == ObjMenuLi.Menu_Id);
                                    ChileMenus = ChileMenus.OrderBy(x => x.MenuOrderNo).ToList();
                                    foreach (var SubMenu in ChileMenus)
                                    {
                                        <li class="nav-item" data-parent="#myaccordion">
                                            <a class="nav-link" href="@SubMenu.MenuLink" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"><i class="@SubMenu.Menu_Icon"></i>@SubMenu.MenuDisplayName</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>

                    }

                }

            }
            <!--customize menu here-->
            @if (UserType != null && UserType != "SA")
            {
                List<HG_Items> listItem = new HG_Items().GetAll();
                var offitem = listItem.FindAll(x => x.ItemAvaibility == 1).Count;

                <li class="nav-item">
                    <a class="nav-link have-sub-menu collapsed" href="#" data-target="#qkaccess" data-toggle="collapse">
                        <i class="fa fa-desktop-alt"></i>Quick Access <b id="TotalCntHome" class="w3-badge">@offitem</b><span class="fa fa-plus"></span>
                    </a>
                    <ul id="qkaccess" class="collapse list-unstyled" data-parent="#myaccordion">
                        <li class="nav-item" data-parent="#myaccordion">
                            <a class="nav-link" href="/HG_Items/ItemAvaiBility" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"><i class="fas fa-star"></i>Item Avaibility <b id="offItemHome" class="w3-badge"> @offitem</b></a>
                        </li>
                    </ul>
                </li>

            }
            <li class="nav-item" data-parent="#myaccordion">
                <a class="nav-link" href="/HG_OrganizationDetails/index" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"><i class="fas fa-school"></i>Setup</a>
            </li>
            <li class="nav-item" data-parent="#myaccordion">
                <a style="display:none" class="nav-link" href="/UsersMenu/Index" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"><i class="fa fa-file-code-o" aria-hidden="true"></i>UserMenus</a>
            </li>
        </ul>
        @if (UserType != null && UserType != "SA")
            {
                var CustomerCount = Customer.MyCustomerCnt(Orgid);
            <div style="border-top:1px solid white;width:100%;padding:2px; position:fixed;left:0px;bottom:0px;color:black;font-weight:bold;margin-left:5px;"><i class="fas fa-users"></i>&nbsp;&nbsp;My Customers :&nbsp;<b style="color:black;background-color:white" class="w3-badge">@CustomerCount</b></div>
        }
       </div>
    <!-- End admin side menus -->
    @*mt-0 p-0*@
    <div class="col-md-10 col-12 " id="DynamicData">

    </div>
</div>
<script>
    $(document).ready(function () {

        // loading time set size
        if ($(window).width() <= 700) {
            $("#admin-side-menu").addClass("d-none");
            $("#DynamicData").removeAttr("class");
            $("#DynamicData").addClass("col-md-12 col-12 mt-0 p-0");
        }
        else {
            $("#admin-side-menu").removeClass("d-none");
            $("#DynamicData").removeAttr("class");
            $("#DynamicData").addClass("col-md-10 col-12 mt-0 p-0");
        }


        // onclick admin toggle menu btn
        $("#toggle-admin-menu").click(function () {
            if ($("#admin-side-menu").hasClass("d-none")) {
                    $("#admin-side-menu").removeClass("d-none");
                    $("#DynamicData").removeAttr("class");
                    $("#DynamicData").addClass("col-md-10 mt-0 p-0");
                }
                else {
                    $("#admin-side-menu").addClass("d-none");
                    $("#DynamicData").removeAttr("class");
                    $("#DynamicData").addClass("col-md-12 mt-0 p-0");
                }
            });

        // accordian toggle
            $("#admin-side-menu > ul > li > a").click(function () {
                $("#admin-side-menu > ul > li").removeClass("activeted");
                $(this).parent("li").addClass("activeted");

                if ($(this).hasClass("have-sub-menu")) {
                        $("#admin-side-menu > ul > li").find("span").removeClass("fa-minus");
                        $("#admin-side-menu > ul > li").find("span").addClass("fa-plus");
                    if ($(this).hasClass("collapsed")) {
                        $(this).find("span").removeClass("fa-plus");
                        $(this).find("span").addClass("fa-minus");
                    }
                }
        });
        

        $("#logoutbtn").click(function () {
            $.ajax({
                url: "/vw_HG_UsersDetails/LogOut",
                type: "GET",
                success: function (data) {
                   // alert("AAYA");
                    window.location = "/vw_HG_UsersDetails/vw_HG_UsersDetails";
                },
                error: function (Xr, Status, ErrorMsg) {
                  
                }
            });

        });

    });
    function SetCustmrOrd(event) {
      //  var Status = $(event).val();
        var OrdSts = false;
        if (event.checked) {
            OrdSts = true;
            $(event).attr('checked', true);
        }
        else {
            $(event).prop('checked', false);
        }
        $.ajax({
            url: "/HG_OrganizationDetails/SetOrderStatus?OrderStatus=" + OrdSts,
            type: "GET",
            success: function (data) {
                // alert("AAYA");
               // window.location = "/vw_HG_UsersDetails/vw_HG_UsersDetails";
            },
            error: function (Xr, Status, ErrorMsg) {

            }
        });

    }
    function AcnHeading() {
        $("#waiting").show();
        $.ajax({
            url: "/Account/AcntHeading",
            type: "GET",
            success: function (data) {
                $("#DynamicData").html(data);
                $("#waiting").hide();
            },
            error: function (Xr, Status, ErrorMsg) {
                $("#waiting").hide();
            }
        });
    }
    function MakeOrder() {
        $("#waiting").show();
        $.ajax({
            url: "/HG_OrderItem/MakeOrder",
            type: "GET",
            success: function (data) {
                $("#DynamicData").html(data);
                $("#waiting").hide();
            },
            error: function (Xr, Status, ErrorMsg) {
                $("#waiting").hide();
            }
        });
    }
    MakeOrder();
    $("#offItemHome").change(function () {
        var val1 =parseInt($("#offItemHome").text());
        $("#TotalCntHome").text(val1);
    });
    function showvideo() {
        $("#waiting").show();
        $.ajax({
            url: "/Video/viewstatuspopupwindow",
            type: "GET",
            success: function (data) {
                $("#DynamicData").html(data);
                $("#waiting").hide();
            },
            error: function (Xr, Status, ErrorMsg) {
                $("#waiting").hide();
            }
        });
    }
</script>
<script src="~/Assets/PushNotication.js"></script>
<script src="~/Assets/OrderNotify.js"></script>


