@model IEnumerable<HangOut.Models.vw_HG_UsersDetails>
@{ Layout = null;}
@using HangOut.Models
@{ List<HG_OrganizationDetails> listorgo = new HG_OrganizationDetails().GetAll();}
<div class="card">
    <div class="card-header card-header-color">
        <h1 style="text-align:center;color:white"> CUSTOMER  </h1>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover w-100" id="TBLID">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserCode)
                    </th>
                    
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model=>model.UserId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EMail)
                    </th>
                    <th>
                        Join By Outlet
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserCode)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EMail)
                        </td>
                        <td>
                            @{ 
                                if (item.JoinByOrg > 0)
                                {
                                    var OrgObj = listorgo.Find(x => x.OrgID == item.JoinByOrg);
                                    @OrgObj.Name
                                }
                            }
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>