@model IEnumerable<HangOut.Models.vw_HG_UsersDetails>
    @{ Layout = null;}
@using HangOut.Models
@{ List<HG_UserTypes> listuser = new HG_UserTypes().GetAll();
    var UserInfo = Request.Cookies["UserInfo"];
    string UserType = UserInfo["UserType"];
    List<HG_OrganizationDetails> ListOrg = new List<HG_OrganizationDetails>();

    }

<div class="card">
    <div class="card-header card-header-color">
        <h1  style="text-align:center;color:white;">USERS</h1>
    </div>
    <div class="card-body ">
        <table class="table " id="TBLID">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayName("User Id")
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th>
                        @Html.DisplayName("E-mail")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.UserCode">
                        <td>
                            @Html.DisplayFor(modelItem => item.UserCode)
                        </td>
                        <td>
                            @{ HG_UserTypes objuser = listuser.Find(x => x.UserType == item.UserType);}
                            @objuser.UserTypeName
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EMail)
                        </td>
                        <td>
                            <button type="button" onclick="CreateEdit(@item.UserCode)" class="btn btn-sm btn-warning">Add</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    var AddTr = false;
    var AddNewBtn = '<button type="button" onclick="CreateEdit(0)" class="dt-button DataTbl ">Add</button>';
    AddBtn(AddNewBtn);
    function JsonSuccess(Jobj) {
            hidedpt("CreateUser");
        $('#waiting').hide();
        console.log("aaya");
            var UserObj =Jobj.data;
        var HtmlStr = "<tr id='" + UserObj.UserCode + "'>";
        HtmlStr += '<td>' + UserObj.UserCode + '</td>';
        HtmlStr += '<td>' + UserObj.UserType + '</td>';
        HtmlStr += '<td>' + UserObj.UserName + '</td>';
        HtmlStr += '<td>' + UserObj.UserId + '</td>';
        HtmlStr += '<td>' + UserObj.Password + '</td>';
        HtmlStr += '<td>' + UserObj.EMail + '</td>';
        HtmlStr += '<td><button type="button" onclick="CreateEdit('+UserObj.UserCode+')" class="btn btn-sm btn-warning">Add</button></td>';
            var table = $('table').DataTable();
            if (AddTr) {
                table.row.add($(HtmlStr)).draw();
            }
            else {
                table.row("#" + UserObj.UserCode).remove().draw();
                table.row.add($(HtmlStr)).draw();
            }
        
    }
    function CreateEdit(ID) {
        if (ID != "0") {
            AddTr = false;
        } else {
            AddTr = true;
        }
        $('#waiting').show();
        $.ajax({
            type: 'GET',
            url: "/vw_HG_UsersDetails/CreateEdit?ID=" + ID,
            success: function (data) {
                makedpt("CreateUser");
                $("#CreateUser > .modal-dialog > .modal-content > .modal-body").html(data);
                showdpt("CreateUser");
                $('#waiting').hide();
            },
            error: function (jqXhr, textStatus, errorMessage) { // error callback
                $('#waiting').hide();
            }
        });

    }
</script>