@using HangOut.Models;
@using HangOut.Models.Common;
@{
    Layout = null;
    var UserType = Request.Cookies["UserInfo"]["UserType"];
    string OrgType = "0";
    int Orgid = int.Parse(Request.Cookies["UserInfo"]["OrgId"]);
    HG_OrganizationDetails ObgOrg = new HG_OrganizationDetails().GetOne(Orgid);
    if (ObgOrg.OrgID > 0)
    {
        OrgType = ObgOrg.OrgTypes;
    }
}

<!-- admin side menus -->
<div id="admin-side-menu" class="col-md-1    m-0 p-0 " style="background-color:#ffffff;border-right:2px solid #e6ebef">
    <ul id="myaccordion" class="list-unstyled mb-0 ">
        @{
            List<UsersMenu> List = new UsersMenu().GetAll();
            List = List.FindAll(x => x.MenuOrderNo != 400);
            List<UsersMenu> ADMINMenuList = List.FindAll(x => x.Section == "ADMIN" && x.ParentMenuId == 0);
            if (UserType != "SA" && UserType != "A")
            {
                ADMINMenuList = ADMINMenuList.FindAll(x => x.User_Types.Contains(UserType));
                if (OrgType == "2")
                {
                    List = List.FindAll(x => !x.MenuLink.Equals("/HG_Tables_or_Sheat/Index?Type=1"));
                }
                else
                {
                    List = List.FindAll(x => !x.MenuLink.Equals("/HG_Tables_or_Sheat/SheetIndex?Type=2"));
                }
            }
            ADMINMenuList = ADMINMenuList.OrderBy(x => x.MenuOrderNo).ToList();
            List<UsersMenu> AdminSubMenuList = List.FindAll(x => x.Section == "ADMIN" && x.ParentMenuId != 0);
            if (UserType != "SA" && UserType != "A")
            {
                AdminSubMenuList = AdminSubMenuList.FindAll(x => x.User_Types.Contains(UserType));
            }
            foreach (var ObjMenuLi in ADMINMenuList)
            {
                if (ObjMenuLi.MenuLink != null && ObjMenuLi.MenuLink != "")
                {
                    <li class="nav-item" data-parent="#myaccordion">
                        <a class="nav-link" href="@ObjMenuLi.MenuLink" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"><i class="@ObjMenuLi.Menu_Icon"></i>@ObjMenuLi.MenuDisplayName</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link have-sub-menu collapsed" href="#" data-target="#ID@(ObjMenuLi.Menu_Id)" data-toggle="collapse">
                            <i class="fa fa-desktop-alt"></i>@ObjMenuLi.MenuDisplayName<span class="fa fa-plus"></span>
                        </a>
                        <ul id="ID@(ObjMenuLi.Menu_Id)" class="collapse list-unstyled" data-parent="#myaccordion">
                            @{
                                List<UsersMenu> ChileMenus = AdminSubMenuList.FindAll(x => x.ParentMenuId == ObjMenuLi.Menu_Id);
                                ChileMenus = ChileMenus.OrderBy(x => x.MenuOrderNo).ToList();
                                foreach (var SubMenu in ChileMenus)
                                {
                                    <li class="nav-item" data-parent="#myaccordion">
                                        <a class="nav-link" href="@SubMenu.MenuLink" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"><i class="@SubMenu.Menu_Icon"></i>@SubMenu.MenuDisplayName</a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>

                }

            }

        }
        <!--customize menu here-->
        
    </ul>

    <div class="row">
        @if (UserType != null && UserType != "SA")
        {
            List<HG_Items> listItem = new HG_Items().GetAll();
            var offitem = listItem.FindAll(x => x.ItemAvaibility == 1).Count;
        <div class="col-md-12 MouseOverMe dropdown">
            <a class="nav-link text-center" href="#"><i class="fas fa-bookmark AnchorIcon"></i></a>
            <h4 class="text-center">Quick Access <b id="TotalCntHome" style="font-size:medium;" class="w3-badge">@offitem</b></h4>
            <div class="dropdown-content">
                <a class="nav-link" href="/HG_Items/ItemAvaiBility" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"><i class="fas fa-star"></i>Item availability <b id="offItemHome" class="w3-badge"> @offitem</b></a>
                <a class="nav-link" href="/HG_Items/ItemAvaiBility" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"><i class="fas fa-star"></i>Item availability <b id="offItemHome" class="w3-badge"> @offitem</b></a>
            </div>
        </div>
            
            @*<ul id="qkaccess" class="collapse list-unstyled" data-parent="#myaccordion">
                <li class="nav-item" data-parent="#myaccordion">
                </li>
            </ul>*@


        }

        <div class="col-md-12 MouseOverMe">
            <a class="nav-link text-center" href="/HG_OrganizationDetails/index" data-ajax="true" data-ajax-update="#DynamicData" data-ajax-mode="replace" data-ajax-loading="#waiting"><i class="fas fa-school AnchorIcon"></i></a>
            <h4 class="text-center">Setup</h4>
        </div>
    </div>
    @if (UserType != null && UserType != "SA")
    {
        var CustomerCount = Customer.MyCustomerCnt(Orgid);
        <div style="padding:2px;z-index:100; position:fixed;left:0px;bottom:0px;color:black;font-weight:bold;margin-left:5px;"><i class="fas fa-users"></i>&nbsp;My Customer:@CustomerCount</div>
    }
</div>
<!-- End admin side menus -->
@*mt-0 p-0*@
<div class="col-md-11  " id="DynamicData" >

</div>

<script>
    MakeOrder();
</script>
